<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">Data Gathering</div>

                <div class="modal-body">

                    <b>tl;dr I need data on certain characters</b>
                    <br><br>

                    If you happen to have any of the characters shown below, and:
                    <ol>
                        <li>They're <b>NOT</b> at level 1</li>
                        <li>They're <b>NOT</b> at max level</li>
                    </ol>

                    please head over <a href="http://goo.gl/forms/oGMIPv3QTc">here</a> and complete the form (it takes like 20 seconds), any help is appreciated.
                    <br><br>

                    <div id="pickerUnits" class="modal-div">
                        <a ng-repeat="unit in units" class="slot medium" target="_blank" ng-if="!unit.incomplete"
                            decorate-slot uid="unit.number + 1" href="../characters/#/view/{{unit.number+1}}">
                        </a>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" ui-sref="^">Close</button> 
                </div>

            </div>
        </div>
    </div>

</div>
