<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">Instructions</div>
                <div class="modal-body slim">
                    <div id="instructions">
					Hold down the desired action while clicking in order to change how the action works.
                    <p><p>
					<b>Damage Window: (Right side)</b>
                    <br>
                    <ul>
  						<li><tt>Middle Mouse Click</tt>: Changes Miss > Below Good > Good > Great > Perfect</li>
                        <li><tt>CTRL</tt>: Changes Miss > Below Good > Good > Great > Perfect</li>
                        <li><tt>SHIFT</tt>: Changes Opponent's Type (For individual targets)</li>
                        <li><tt>Drag &amp; Drop</tt>: Changes Attack Order</li>
                    </ul>
                    <br>
                    <b>Units Window: (Center area)</b>
                    <ul>
						<li><tt>Middle Mouse Click</tt>: Changes Miss > Below Good > Good > Great > Perfect</li>
                        <li><tt>CTRL</tt>: Changes Orbs Matching > Opposite > None (You may also click on orb)</li> 
                        <li><tt>SHIFT</tt>: Despairs Captain</li>
                        <li><tt>ALT</tt>: Locks Units</li>
                        <li><tt>SHIFT + ALT</tt>: Disables Unit</li>
                        <li><tt>Drag &amp; Drop</tt>: Change Unit Position</li>
						<li><tt>Click on Level</tt>: Opens level slider</li>
						<li><tt>Middle Mouse Click on Level</tt>: Sets unit to MAX level</li>

                    </ul>
                    <br>
                    <b>Ship Slider: (Under Settings)</b>
                    <ul>
                       <li><tt>CTRL</tt>: Opens Ship Selection Window</li> 
                    </ul>
                    <br>
                    <b>Enemy Defense: (Under Settings)</b>
                    <ul>
                       <li><tt>CTRL</tt>: Opens Defense Selection Window</li> 
                    </ul>
                    <br>
                    <b>Stat Window: (Under Units Window)</b>
                    <ul>
                        <li><tt>Drag Slider</tt>: Adjusts Health Percentage</li>
                        <li><tt>Left Click on Health</tt>: Opens prompt where you can set HP or HP in %</li>
                    </ul>
                </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ui-sref="^">Go Back</button> 
                </div>
            </div>
        </div>
    </div>

</div>
