<div class="backdrop" ui-sref="^"></div>

<div class="custom-modal">
    <div id="picker" class="modal-dialog">
        <div class="modal-content animated fadeInDown">
            <div class="modal-header">Slots</div>
            <div class="modal-body">

                <input type="text" id="picker" placeholder="type to filter" ng-model="query" auto-focus class="modal-filter">

                <div class="modal-div padded">

                    <table id="slot-table">
                        <tbody>
                            <tr ng-repeat="(key,slot) in slots" ng-click="selectTeam(slot)">
                                <td>{{slot.name}}</td>
                                <td class="to-the-right">
                                    <div  class="slot small" ng-repeat="unit in slot.team track by $index"
                                        ng-if="unit" decorate-slot="notitle" uid="unit.unit"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ui-sref="^">Cancel</button> 
            </div>
        </div>
    </div>
</div>
