<div class="backdrop" ui-sref="^"></div>

<div class="custom-modal">
    <div id="picker" class="modal-dialog">
        <div class="modal-content animated fadeInDown">
            <div class="modal-header">Pick a Unit</div>
            <div class="modal-body">

                <input type="text" id="picker" placeholder="type to filter" ng-model="query" auto-focus class="modal-filter">

                <div id="pickerUnits" class="modal-div">
                    <div class="slot medium" ng-repeat="unit in units" ng-click="pickUnit(unit.number)"
                        decorate-slot uid="unit.number">
                    </div> 
                </div>

                <div id="recent">
                    <span>Recently picked</span>
                    <div id="recentUnits">
                        <div class="slot small" ng-repeat="unit in recents" ng-click="pickUnit(unit)"
                            decorate-slot uid="unit">
                        </div> 
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ui-sref="^">Cancel</button> 
            </div>
        </div>
    </div>
</div>
