<div class="backdrop" ui-sref="^"></div>

<div class="custom-modal">
    <div id="picker" class="modal-dialog">
        <div class="modal-content animated fadeInDown">
            <div class="modal-header">Reset</div>
            <div class="modal-body slim">
                Are you sure? It won't be pretty.
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="resetStorage()">Yep</button> 
                <button class="btn btn-primary" ui-sref="^">Nope</button> 
            </div>
        </div>
    </div>
</div>
