<div class="backdrop" ui-sref="^"></div>

<div class="custom-modal">
    <div id="picker" class="modal-dialog">
        <div class="modal-content animated fadeInDown">
            <div class="modal-header">Ships</div>
            <div class="modal-body">

                <input type="text" id="picker" placeholder="type to filter" ng-model="query" auto-focus class="modal-filter">

                <div class="modal-div">

                    <table id="ship-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Ship</th>
                                <th>Effect at MAX level</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ship in list track by $index" ng-click="pickShip(ship.name)">
                                <td class="ship-icon"><div class="slot small" style="{{getThumbnail(ship)}}"></div></td>
                                <td class="ship-name">{{ship.name}}</td>
                                <td>{{ship.description}}</td>
                            </tr>
                        </tbody>
                    </table> 

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ui-sref="^">Cancel</button> 
            </div>
        </div>
    </div>
</div>
