<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">Incomplete Specials</div>

                <div class="modal-body">

                    <div id="pickerUnits" class="modal-div">
                        <a ng-repeat="unit in units" class="slot medium" target="_blank" ng-if="!unit.incomplete"
                            decorate-slot uid="unit.number + 1" href="../characters/#/view/{{unit.number+1}}">
                        </a>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" ui-sref="^">Close</button> 
                </div>

            </div>
        </div>
    </div>

</div>
