/* Adapted from http://codepen.io/suez/pen/vAais */

#dismissalBody {
    font-size: 0.8em;
}

#links-button {
    position: fixed;
    right: 20px;
    bottom: 5px;
    transform: translateX(-50%) translateY(-50%);
    width: 2em;
    height: 2em;
}

#links-button .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(230, 230, 230, 1);
    opacity: 0;
    z-index: -10;
    cursor: pointer;
    -webkit-transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
    transition: opacity 1s, z-index 0.3s, transform 1s;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    border: none !important;
}

#links-button .btn .fa {
    position: relative;
    font-size: 1.1em;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

#links-button .btn.trigger .fa {
    top: -2px;
    left: -5px;
}

#links-button .btn:not(.trigger) .fa {
    top: -7px;
    left: -11px;
    width: 26px;
    height: 26px;
    padding-top: 7px;
}

#links-button .btn:hover .fa, .rotater i {
    color: rgba(0, 0, 0, 0.7);
}

.rotater:hover i, .rotater:hover i {
    color: white !important;
}

#links-button .btn.trigger {
    opacity: 1;
    z-index: 100;
    cursor: pointer;
}

#links-button .btn.trigger:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#links-button .btn.trigger:hover .line {
    background-color: rgba(0, 0, 0, 0.7);
}

#links-button .btn.trigger:hover .line:before, #links-button .btn.trigger:hover .line:after {
    background-color: rgba(0, 0, 0, 0.7);
}

#links-button .btn.trigger .line {
    width: 60%;
    height: 6px;
    background: #000;
    border-radius: 6px;
    -webkit-transition: background-color 0.3s, height 0.3s, top 0.3s;
    transition: background-color 0.3s, height 0.3s, top 0.3s;
}

#links-button .btn.trigger .line:before, #links-button .btn.trigger .line:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background: #000;
    border-radius: 6px;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, transform 0.3s;
}

#links-button .btn.trigger .line:before {
    top: -12px;
    -webkit-transform-origin: 15% 100%;
    -ms-transform-origin: 15% 100%;
    transform-origin: 15% 100%;
}

#links-button .btn.trigger .line:after {
    top: 12px;
    -webkit-transform-origin: 25% 30%;
    -ms-transform-origin: 25% 30%;
    transform-origin: 25% 30%;
}

#links-button .rotater {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#links-button.active .btn-icon {
    opacity: 1;
    z-index: 50;
}

#links-button.active .trigger .line {
    height: 0px;
    top: 45%;
}

#links-button.active .rotater:nth-child(1) > a {
    -webkit-transform: translateX(-3em);
    -ms-transform: translateX(-3em);
    transform: translateX(-3em);
}

#links-button.active .rotater:nth-child(2) > a {
    -webkit-transform: translateX(-6em);
    -ms-transform: translateX(-6em);
    transform: translateX(-6em);
}

#links-button.active .rotater:nth-child(3) > a {
    -webkit-transform: translateX(-9em);
    -ms-transform: translateX(-9em);
    transform: translateX(-9em);
}

#links-button.active .rotater:nth-child(4) > a {
    -webkit-transform: translateX(-12em);
    -ms-transform: translateX(-12em);
    transform: translateX(-12em);
}

#links-button.active .rotater:nth-child(5) > a {
    -webkit-transform: translateX(-15em);
    -ms-transform: translateX(-15em);
    transform: translateX(-15em);
}

#links-button.active .rotater:nth-child(6) > a {
    -webkit-transform: translateX(-18em);
    -ms-transform: translateX(-18em);
    transform: translateX(-18em);
}

#link-damage > .btn { background: #85C1F5; }
#link-characters > .btn { background: #7FCA9F; }
#link-drops > .btn { background: #F4BA70; }
#link-tally > .btn { background: #E96D63; }
#link-report > .btn { background: orchid; }
#link-slots > .btn { background: #99cc66; }
#links-home > .btn { background: #939393; }

.tip { color: black; }

#links-button:not(.active) .tip,
.rotater:not(:hover) .tip {
    display: none;
}

.tip {
    position: absolute;
    top: -2em;
    left: 0;
    width: 130px;
    margin-left: -50px;
    text-align: center;
    text-decoration: none !important;
}

