/********
 * MAIN *
 ********/

#menu {
    position: absolute;
    top: 0px;
    left: -16.625em;
    width: 16.625em;
    height: 100%;
    transition: left .1s linear;
    margin-bottom: 0;
}

#menu.open {
    left: 0em;
}

/*********
 * SLOTS *
 *********/

.slot {
    display: inline-block;
    cursor: pointer;
}

.slot:hover {
    outline: 1px solid red;
}

.slot.medium {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    margin: 2px;
}

.slot.small {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    margin: 1px;
}

/**********
 * POPUPS *
 **********/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

.custom-modal {
    z-index: 101;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    background-color: #428bca;
    color: white;
}

.modal-footer {
    background-color: rgb(235,235,235);
}

.animated {
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
}
