.modal-dialog {
    width: 650px;
}

.unitThumbnail {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
}

.unitThumbnail.small {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}
