#stats {
    position: relative;
    width: 150px;
    height: 350px;
}

.damage {
    cursor: pointer;
    position: absolute;
    transition: top .5s, height .5s;
    height: 60px;
    z-index: 1;
    user-select: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
}

.damage.STR { top: 0px; }
.damage.QCK { top: 73px; }
.damage.DEX { top: 146px; }
.damage.PSY { top: 219px; }
.damage.INT { top: 292px; }

.details {
    top: 0px !important;
    height: 352px !important;
}

.details > .damageLabel,
.details > .damageAmount {
    display: none;
}

.onTurn {
    font-size: 11px;
    font-weight: bold;
}

.damageDealer {
    font-size: 11px;
}

.unitDamage {
    font-size: 12px;
    font-weight: bold;
}

.unitDamage:after {
    content: " HP";
}

hr {
    margin: 5px 0 5px 0 !important;
    border-color: black;
}

.detailsContainer > hr:last-child {
    display: none;
}

.detailsContainer {
    width: 100%;
}

.turnContainer:hover {
    background-color: rgba(0,0,0,0.1);
}
