#removeSlot {
    position: fixed;
    left: 5px;
    top: 5px;
    border-color: red;
    opacity: 1;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 40 40' preserveAspectRatio='true' xmlns='http://www.w3.org/2000/svg'><path fill='rgba(255,0,0,0.5)' d='M24.778,21.419C24.778,21.419,19.276,15.917,19.276,15.917C19.276,15.917,24.777,10.415,24.777,10.415C24.777,10.415,21.949,7.585,21.949,7.585C21.949,7.585,16.447,13.087,16.447,13.087C16.447,13.087,10.945,7.585,10.945,7.585C10.945,7.585,8.117,10.415,8.117,10.415C8.117,10.415,13.618,15.917,13.618,15.917C13.618,15.917,8.116,21.419,8.116,21.419C8.116,21.419,10.946,24.248,10.946,24.248C10.946,24.248,16.447,18.746,16.447,18.746C16.447,18.746,21.948,24.248,21.948,24.248C21.948,24.248,24.778,21.419,24.778,21.419'/></svg>") !important;
    background-position: 10px 10px;
}

.unitPortrait.gray {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

