.glower {
    -webkit-transition: border 1.0s linear, box-shadow 1.0s linear;
       -moz-transition: border 1.0s linear, box-shadow 1.0s linear;
            transition: border 1.0s linear, box-shadow 1.0s linear;
}

.glower.str {
    border-color: red;
    -webkit-box-shadow: 0 0 15px red;
       -moz-box-shadow: 0 0 15px red;
            box-shadow: 0 0 15px red;
}

.glower.qck {
    border-color: blue;
    -webkit-box-shadow: 0 0 15px blue;
       -moz-box-shadow: 0 0 15px blue;
            box-shadow: 0 0 15px blue;
}

.glower.dex {
    border-color: green;
    -webkit-box-shadow: 0 0 15px green;
       -moz-box-shadow: 0 0 15px green;
            box-shadow: 0 0 15px green;
}

.glower.psy {
    border-color: orange;
    -webkit-box-shadow: 0 0 15px orange;
       -moz-box-shadow: 0 0 15px orange;
            box-shadow: 0 0 15px orange;
}

.glower.int {
    border-color: purple;
    -webkit-box-shadow: 0 0 15px purple;
       -moz-box-shadow: 0 0 15px purple;
            box-shadow: 0 0 15px purple;
}
