body, html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

body, #main, #hp, #other {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#main {
    width: 500px;
}

#units {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
}

#stats {
    margin-left: 50px;
}

#hp, #other {
    width: 350px;
    margin-top: 30px;
}

.unit {
    width: 112px;
    height: 112px;
    display: flex;
    /*border-radius: 5px;*/
    cursor: pointer;
    border: 1px solid black;
    margin: 3px !important;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.empty {
    border-style: dashed !important;
    opacity: 0.5;
}

.empty:hover {
    border-color: black !important;
    opacity: 1 !important;
}

.unit:not(.empty) > .unitPlaceholder,
.unit.slide > .unitPlaceholder,
.unit.empty > .unitLevel,
.unit:not(.slide) > .unitSlider,
.unit.slide > .unitLevel,
.unit.empty > .unitPortrait {
    display: none;
}

.unitPortrait, .ghostPortrait {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
}

.unitLevel {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 70%;
    font-weight: bold;
    padding: 1px;
    outline: 1px solid black;
    background-color: white;
    cursor: pointer;
    z-index: 2;
}

.unitLevel:hover {
    background: lightcoral;
}

.unitLevel > input {
    width: 100%;
    height: 100%;
}

.unitSlider {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.jcs-panel.noselect {
    border-width: 0 !important;
}

.jcs-indicator {
    width: 10px;
    height: 10px;
}

#captain {
    border-color: red !important;
}

#captain:not(.empty) {
    border: 1px solid red !important;
}

#friend {
    border-color: orange !important;
}

#friend:not(.empty) {
    border: 1px solid orange !important;
}

.damage {
    border-radius: 5px;
    width: 150px;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;
}

.damage:last-child {
    margin-bottom: 0 !important;
}

.damage.str, li > .str { background: salmon; }
.damage.qck, li > .qck { background: lightskyblue; }
.damage.dex, li > .dex { background: lightgreen; }
.damage.psy, li > .psy { background: gold; }
.damage.int, li > .int { background: orchid; }

.damageLabel {
    font-size: 75%;
}

.damageAmount {
    font-size: 150%;
    font-weight: bold;
    display: block;
}

#hpSlider {
    width: 450px;
    height: 12px;
}

.noUi-handle {
    width: 24px !important;
    height: 18px !important;
    top: -4px !important;
}

.noUi-handle:before {
    left: 9px !important;
    top: 3px !important;
    height: 10px !important;
}

#hpLabel {
    margin-top: 10px;
}

.noUi-handle:after {
    left: 11px !important;
    top: 3px !important;
    height: 10px !important;
}

#other > button {
    padding: 5px;
    width: 110px;
}

#other > button:not(:last-child) {
    margin-right: 5px;
}

#defense {
    width: 50px;
    margin-left: 10px;
    position: relative;
    bottom: 1px;
}

#sliderToggle[status="0"]:before { content: "Level sliders: enabled"; }
#sliderToggle[status="1"]:before { content: "Level sliders: disabled"; }

#merry[status="0"]:after { content: "No Merry Bonus"; }
#merry[status="1"]:after { content: "1.2x Merry Bonus"; color: black; }
#merry[status="2"]:after { content: "1.5x Merry Bonus"; }

/* Ribbons */

.ribbon-container {
    width: 53px;
    height: 55px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.corner-ribbon {
    color: white;
    font-size: 10px;
    left: -2px;
    padding: 3px 0;
    position: relative;
    text-align: center;
    top: 8px;
    width: 75px;
    z-index: 7;
    /* wizardry */
    -webkit-box-shadow : 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow    : 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow         : 0px 0px 3px rgba(0,0,0,0.3);
    -moz-transform     : rotate(45deg);
    -ms-transform      : rotate(45deg);
    -o-transform       : rotate(45deg);
    -webkit-transform  : rotate(45deg);
}

.corner-ribbon:before, .corner-ribbon:after {
    content: "";
    border-top:   3px solid #6e8900;   
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.corner-ribbon:before {
    left: 0;
}
.corner-ribbon:after {
    right: 0;
}

.corner-ribbon.red {
    background: #e43;
}

.corner-ribbon.orange {
    background: #e82;
}

/* Panel */

.panel {
    position: fixed;
    left: -16.625em;
    width: 16.625em !important;
    background: #2C3E50;
}

.wrap {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

li > div {
    display: block;
    padding: 1em 1em 1em 2.5em;
    text-align: left;
    color: #fff;
    font-size: 11pt;
    -webkit-transition: background 0.1s linear;
       -moz-transition: background 0.1s linear;
            transition: background 0.1s linear;
}

li > div:not(.menuIcon):hover {
    background: #688aac;
    color: white !important;
    cursor: pointer;
}

ul { padding-left: 0; }

li {
    list-style: none;
    border-bottom: 2px solid #34495D;
    position: relative;
}

input {
    color: black;
}

#specialDivider {
    padding: 5px !important;
    text-align: center;
    background: #cdd8e4;
    color: black !important;
    cursor: default;
}

li > div.str, li > div.qck, li > div.dex, li > div.psy, li > div.int {
    color: black !important;
}

li.disabled {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-width: 0;
}

/* Menu icons */

.menuIcon {
    position: absolute;
    left: 7px;
    top: 15px;
    padding: 0;
    width: 20px;
    height: 20px;
}

#sliderIcon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' preserveAspectRatio='true' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(255,255,255)' d='M24.083,15.5c-0.009,4.739-3.844,8.574-8.583,8.583c-4.741-0.009-8.577-3.844-8.585-8.583c0.008-4.741,3.844-8.577,8.585-8.585c1.913,0,3.665,0.629,5.09,1.686l-1.782,1.783l8.429,2.256l-2.26-8.427l-1.89,1.89c-2.072-1.677-4.717-2.688-7.587-2.688C8.826,3.418,3.418,8.826,3.416,15.5C3.418,22.175,8.826,27.583,15.5,27.583S27.583,22.175,27.583,15.5H24.083z'/></svg>") !important;
}

#shipIcon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' preserveAspectRatio='true' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(255,255,255)' d='M236.016,16.781C247,3.031,256,6.188,256,23.781v256c0,17.594-14.406,32-32,32H32c-17.594,0-23-11.25-12.016-25L236.016,16.781z M288,279.781c0,17.594,14.406,32,32,32h64c17.594,0,26.656-13.375,20.125-29.719L299.875,21.5C293.344,5.156,288,6.188,288,23.781V279.781z M25.594,407.781h460.813l13.719-34.281c6.531-16.344-2.531-29.719-20.125-29.719H32c-17.594,0-26.656,13.375-20.109,29.719L25.594,407.781z M38.406,439.781l13.703,34.281c6.547,16.344,26.297,29.719,43.891,29.719h320c17.594,0,37.344-13.375,43.875-29.719l13.719-34.281H38.406z'/></svg>") !important;
}

#defenseIcon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' preserveAspectRatio='true' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(255,255,255)' d='M 480.00,0.00L 256.00,64.00L 32.00,0.00c0.00,0.00-2.25,25.849,0.00,64.00l 224.00,70.045L 480.00,64.00C 482.249,25.849, 480.00,0.00, 480.00,0.00zM 36.095,97.553C 48.088,222.901, 92.84,433.67, 256.00,512.00c 163.16-78.33, 207.912-289.099, 219.905-414.447L 256.00,180.232 L 36.095,97.553z'/></svg>") !important;
    top: 17px;
}

#saveIcon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' preserveAspectRatio='true' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(255,255,255)' d='M256,10.24C120.271,10.24,10.24,120.271,10.24,256c0,135.729,110.031,245.76,245.76,245.76 c135.729,0,245.76-110.031,245.76-245.76C501.76,120.271,391.729,10.24,256,10.24z M381.44,246.389L256.002,373.003L130.56,246.389 V138.997l125.442,126.604L381.44,138.997V246.389z'/></svg>") !important;
}

#loadIcon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 512 512' preserveAspectRatio='true' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(255,255,255)' d='M256,10.24C120.271,10.24,10.24,120.271,10.24,256S120.271,501.76,256,501.76S501.76,391.729,501.76,256 S391.729,10.24,256,10.24z M381.44,373.003L256.002,246.399L130.56,373.003V265.611l125.442-126.614L381.44,265.611V373.003z'/></svg>") !important;
}
