.unitOrb.none {
    display: none;
}

.unitOrb {
    position: absolute;
    width: 29px;
    height: 30px;
    top: 7px;
    left: 6px;
    z-index: 5;
    border-radius: 28px;
    border: 1px solid gray;
    pointer-events: none;
}

.unitOrb.STR {
    background-image: -webkit-radial-gradient(9px 3px, circle cover, oldlace, orangered, rgb(50,50,50));
    background-image: -moz-radial-gradient(9px 3px, circle cover, oldlace, orangered, rgb(50,50,50));
    background-image: radial-gradient(9px 3px, circle cover, oldlace, orangered, rgb(50,50,50));
}

.unitOrb.DEX {
    background-image: -webkit-radial-gradient(9px 3px, circle cover, oldlace, limegreen, rgb(50,50,50));
    background-image: -moz-radial-gradient(9px 3px, circle cover, oldlace, limegreen, rgb(50,50,50));
    background-image: radial-gradient(9px 3px, circle cover, oldlace, limegreen, rgb(50,50,50));
}

.unitOrb.QCK {
    background-image: -webkit-radial-gradient(9px 3px, circle cover, oldlace, dodgerblue, rgb(50,50,50));
    background-image: -moz-radial-gradient(9px 3px, circle cover, oldlace, dodgerblue, rgb(50,50,50));
    background-image: radial-gradient(9px 3px, circle cover, oldlace, dodgerblue, rgb(50,50,50));
}

.unitOrb.PSY {
    background-image: -webkit-radial-gradient(9px 3px, circle cover, oldlace, orange, rgb(50,50,50));
    background-image: -moz-radial-gradient(9px 3px, circle cover, oldlace, orange, rgb(50,50,50));
    background-image: radial-gradient(9px 3px, circle cover, oldlace, orange, rgb(50,50,50));
}

.unitOrb.INT {
    background-image: -webkit-radial-gradient(9px 3px, circle cover, oldlace, mediumorchid, rgb(50,50,50));
    background-image: -moz-radial-gradient(9px 3px, circle cover, oldlace, mediumorchid, rgb(50,50,50));
    background-image: radial-gradient(9px 3px, circle cover, oldlace, mediumorchid, rgb(50,50,50));
}

.unitOrb.G {
    background-image: -webkit-radial-gradient(9px 3px, circle cover, oldlace, orange, orangered);
    background-image: -moz-radial-gradient(9px 3px, circle cover, oldlace, orange, orangered);
    background-image: radial-gradient(9px 3px, circle cover, oldlace, orange, orangered);
}

.unitOrb.S {
    background-image: -webkit-radial-gradient(9px 3px, circle cover, oldlace, orangered, rgb(50,50,50));
    background-image: -moz-radial-gradient(9px 3px, circle cover, oldlace, orangered, rgb(50,50,50));
    background-image: radial-gradient(9px 3px, circle cover, oldlace, orangered, rgb(50,50,50));
}

.unitOrb.D {
    background-image: -webkit-radial-gradient(9px 3px, circle cover, oldlace, limegreen, rgb(50,50,50));
    background-image: -moz-radial-gradient(9px 3px, circle cover, oldlace, limegreen, rgb(50,50,50));
    background-image: radial-gradient(9px 3px, circle cover, oldlace, limegreen, rgb(50,50,50));
}

.unitOrb.Q {
    background-image: -webkit-radial-gradient(9px 3px, circle cover, oldlace, dodgerblue, rgb(50,50,50));
    background-image: -moz-radial-gradient(9px 3px, circle cover, oldlace, dodgerblue, rgb(50,50,50));
    background-image: radial-gradient(9px 3px, circle cover, oldlace, dodgerblue, rgb(50,50,50));
}

.unitOrb.P {
    background-image: -webkit-radial-gradient(9px 3px, circle cover, oldlace, orange, rgb(50,50,50));
    background-image: -moz-radial-gradient(9px 3px, circle cover, oldlace, orange, rgb(50,50,50));
    background-image: radial-gradient(9px 3px, circle cover, oldlace, orange, rgb(50,50,50));
}

.unitOrb.I {
    background-image: -webkit-radial-gradient(9px 3px, circle cover, oldlace, mediumorchid, rgb(50,50,50));
    background-image: -moz-radial-gradient(9px 3px, circle cover, oldlace, mediumorchid, rgb(50,50,50));
    background-image: radial-gradient(9px 3px, circle cover, oldlace, mediumorchid, rgb(50,50,50));
}

.unitOrb.R {
    background-image: -webkit-radial-gradient(9px 3px, circle cover, oldlace, pink, magenta);
    background-image: -moz-radial-gradient(9px 3px, circle cover, oldlace, pink, magenta);
    background-image: radial-gradient(9px 3px, circle cover, oldlace, pink, magenta);
}

.unitOrb.M {
    background-image: -webkit-radial-gradient(9px 3px, circle cover, oldlace, darkgoldenrod, saddlebrown);
    background-image: -moz-radial-gradient(9px 3px, circle cover, oldlace, darkgoldenrod, saddlebrown);
    background-image: radial-gradient(9px 3px, circle cover, oldlace, darkgoldenrod, saddlebrown);
}

.unitOrb .fa {
    position: relative;
    font-size: 2em;
    color: white;
}

.unitOrb .fa-caret-up { top: -3px; }
.unitOrb .fa-caret-down { top: -1px; }

.g-orb {
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    margin-right: 2px;
    text-shadow: 0 0 5px black;
    position: relative;
    top: 1px;
}

.str-orb {
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    margin-right: 2px;
    text-shadow: 0 0 5px black;
    position: relative;
    top: 1px;
}

.dex-orb {
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    margin-right: 2px;
    text-shadow: 0 0 5px black;
    position: relative;
    top: 1px;
}

.qck-orb {
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    margin-right: 2px;
    text-shadow: 0 0 5px black;
    position: relative;
    top: 1px;
}

.psy-orb {
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    margin-right: 2px;
    text-shadow: 0 0 5px black;
    position: relative;
    top: 1px;
}

.int-orb {
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    margin-right: 2px;
    text-shadow: 0 0 5px black;
    position: relative;
    top: 1px;
}

.rainbow-orb {
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    margin-right: 2px;
    text-shadow: 0 0 5px black;
    position: relative;
    top: 1px;
}

.meat-orb {
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    margin-right: 2px;
    text-shadow: 0 0 5px black;
    position: relative;
    top: 1px;
}

/***********************
 *     ORB GLOWING     *
 ***********************/

.unitOrb.STR { animation: glowRed .5s linear infinite alternate; }
.unitOrb.DEX { animation: glowGreen .5s linear infinite alternate; }
.unitOrb.QCK { animation: glowBlue .5s linear infinite alternate; }
.unitOrb.PSY { animation: glowOrange .5s linear infinite alternate; }
.unitOrb.INT { animation: glowPurple .5s linear infinite alternate; }
.unitOrb.G { animation: glowG .5s linear infinite alternate; }
.unitOrb.S { animation: glowS .5s linear infinite alternate; }
.unitOrb.R { animation: glowR .5s linear infinite alternate; }
.unitOrb.opposite { animation: glowBlack .5s linear infinite alternate; }

@keyframes glowRed {
    from { box-shadow 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px red, 0 0 70px red, 0 0 80px red, 0 0 100px red, 0 0 150px red; }
    to { box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px red, 0 0 35px red, 0 0 40px red, 0 0 50px red, 0 0 75px red; }
}

@keyframes glowBlue {
    from { box-shadow 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px blue, 0 0 70px blue, 0 0 80px blue, 0 0 100px blue, 0 0 150px blue; }
    to { box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px blue, 0 0 35px blue, 0 0 40px blue, 0 0 50px blue, 0 0 75px blue; }
}

@keyframes glowGreen {
    from { box-shadow 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px green, 0 0 70px green, 0 0 80px green, 0 0 100px green, 0 0 150px green; }
    to { box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px green, 0 0 35px green, 0 0 40px green, 0 0 50px green, 0 0 75px green; }
}

@keyframes glowOrange {
    from { box-shadow 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px orange, 0 0 70px orange, 0 0 80px orange, 0 0 100px orange, 0 0 150px orange; }
    to { box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px orange, 0 0 35px orange, 0 0 40px orange, 0 0 50px orange, 0 0 75px orange; }
}

@keyframes glowPurple {
    from { box-shadow 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px purple, 0 0 70px purple, 0 0 80px purple, 0 0 100px purple, 0 0 150px purple; }
    to { box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px purple, 0 0 35px purple, 0 0 40px purple, 0 0 50px purple, 0 0 75px purple; }
}

@keyframes glowBlack {
    from { box-shadow 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 70px black, 0 0 80px black, 0 0 100px black, 0 0 150px black; }
    to { box-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px black, 0 0 35px black, 0 0 40px black, 0 0 50px black, 0 0 75px black; }
}

@keyframes glowG {
    from { box-shadow 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px orangered, 0 0 70px orangered, 0 0 80px orangered, 0 0 100px orangered, 0 0 150px orangered; }
    to { box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px orangered, 0 0 35px orangered, 0 0 40px orangered, 0 0 50px orangered, 0 0 75px orangered; }
}

@keyframes glowS {
    from { box-shadow 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px red, 0 0 70px red, 0 0 80px red, 0 0 100px red, 0 0 150px red; }
    to { box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px red, 0 0 35px red, 0 0 40px red, 0 0 50px red, 0 0 75px red; }
}

@keyframes glowR {
    from { box-shadow 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px magenta, 0 0 70px magenta, 0 0 80px magenta, 0 0 100px magenta, 0 0 150px magenta; }
    to { box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px magenta, 0 0 35px magenta, 0 0 40px magenta, 0 0 50px magenta, 0 0 75px magenta; }
}
