.unit {
    -webkit-transition: border 1.0s linear, box-shadow 1.0s linear;
       -moz-transition: border 1.0s linear, box-shadow 1.0s linear;
            transition: border 1.0s linear, box-shadow 1.0s linear;
}

.glowing[glow="str"] {
    -webkit-box-shadow: 0 0 20px red;
       -moz-box-shadow: 0 0 20px red;
            box-shadow: 0 0 20px red;
}

.glowing[glow="qck"] {
    -webkit-box-shadow: 0 0 20px blue;
       -moz-box-shadow: 0 0 20px blue;
            box-shadow: 0 0 20px blue;
}

.glowing[glow="dex"] {
    -webkit-box-shadow: 0 0 20px green;
       -moz-box-shadow: 0 0 20px green;
            box-shadow: 0 0 20px green;
}

.glowing[glow="psy"] {
    -webkit-box-shadow: 0 0 20px darkorange;
       -moz-box-shadow: 0 0 20px darkorange;
            box-shadow: 0 0 20px darkorange;
}

.glowing[glow="int"] {
    -webkit-box-shadow: 0 0 20px purple;
       -moz-box-shadow: 0 0 20px purple;
            box-shadow: 0 0 20px purple;
}

[glow="str"] { outline: 1px red solid !important; }
[glow="qck"] { outline: 1px blue solid !important; }
[glow="dex"] { outline: 1px green solid !important; }
[glow="psy"] { outline: 1px orange solid !important; }
[glow="int"] { outline: 1px purple solid !important; }
