input#picker {
    width: 100%;
}

#pickerUnits {
    height: 300px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.pickerThumbnail {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
}

.pickerThumbnail:hover {
    outline: 1px solid red;
}
