input#picker {
    width: 100%;
}

.modal-dialog {
    width: 650px;
}

#pickerUnits {
    height: 338px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 5px;
}

.pickerThumbnail {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
}

.pickerThumbnail.small {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.pickerThumbnail:hover {
    outline: 1px solid red;
}

#recent > span {
    display: block;
    border-bottom: 1px solid black;
}

#recentUnits {
    height: 42px;
    display: flex;
    margin-top: 5px;
}
