#saveContainer {
    display: flex;
}

#saveContainer > span {
    padding-right: 5px;
    position: relative;
    top: 3px;
}

#saveContainer > input {
    flex-grow: 1;
}

input#slotFilter {
    width: 100%;
}

.modal-dialog {
    width: 650px;
}

#slots {
    height: 338px;
    overflow: auto;
    margin-top: 5px;
}

#overwriteWarning {
    margin-top: 15px;
    color: red;
}

.slotRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.slotRow:hover {
    background: rgb(230,230,230);
}

.slotRow > :first-child {
    flex-grow: 1;
    line-height: 300%;
    padding-left: 5px;
}

.slotRow > div ~ div {
    flex-shrink: 1;
}

.slotThumbnail {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
}

.slotThumbnail.small {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}
