* {
     -moz-box-sizing: border-box;
     -o-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans";
    font-size: 13px;
    text-align: center;
     overflow: hidden;
}

#container {
    margin: auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate3d(0,-50%,0);
}

.button {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}

@-moz-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@-webkit-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@-o-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

.round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 37px;		
    text-decoration: none;		
    text-align: center;
    font-size: 25px;		
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border-radius: 300px;
    z-index: 1;
}

.round:hover {
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 33px;
    padding-top: 45px;
    z-index: 2;
    border-size: 10px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

a.green {
    background-color: lightgreen;
    color: white;
}

a.green:hover {
    color: forestgreen;
    font-weight: bold;
}

a.blue {
    background-color: skyblue;
    color: white;
}

a.blue:hover {
    color: rgba(1,151,171,1);
    font-weight: bold;
}

.round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 45% 20% 0 20%;
    color: #fff;
}

.round span:hover {
    opacity: .95;
    font-size: 16px;
}

.blue span {
    background: rgba(50,150,200,.7);		
}

.green span {
    background: rgba(100,200,100,.7);
}
