body, html {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-contents: center;
}

#container {
    width: 250px;
    margin: auto;
}

#container > a {
    width: 220px;
    padding: 15px;
    margin: 5px;
    color: gray;
    text-align: center;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

#container > :first-child {
    background-color: rgba(191,97,106,0.4);
}

#container > :nth-child(2) {
    background-color: rgba(150,181,180,0.4);
}
