#removeSlot {
    position: fixed;
    right: 5px;
    top: 5px;
    border-color: red;
    opacity: 1;
    background-position: 10px 10px;
    font-size: 5em;
    color: salmon;
}

.unitPortrait.gray {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
