<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Turtle Time Calc</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
		<link href="css/polyglot-language-switcher-2.css" rel="stylesheet">
		<link rel="shortcut icon" type="image/ico" href="favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Squada+One|Lora' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
		<script src="app/lib/moment.min.js"></script>
		<script src="app/lib/angular-local-storage.min.js"></script>
		<script src="app/lib/angular-translate.min.js"></script>
		<script src="app/lib/angular-timer.min.js"></script>
		<script src="app/lib/humanize-duration.js"></script>
		<script src="app/lib/ng-table.min.js"></script>
		<script src="app/lib/ui-bootstrap-tpls-0.13.0.min.js"></script>
		<script src="app/lib/angular-polyglot.language.switcher.js"></script>
		<script src="app/lib/momentjs/locale/de.js"></script>
		<script src="app/lib/momentjs/locale/es.js"></script>
		<script src="app/lib/bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="app/app.js"></script>
		<script src="app/controllers/eventCtrl.js"></script>
		<script src="app/controllers/localeCtrl.js"></script>
		<script src="app/controllers/navbarCtrl.js"></script>
		<script src="app/directives/eventDirective.js"></script>
		<script src="app/directives/collapseDirective.js"></script>
		<script src="app/config/localizeConfig.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-62547536-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>

	<body ng-app="app" ng-controller="LocaleCtrl as locale" ng-cloak>
		
		<nav class="navbar navbar-default" ng-controller="NavbarCtrl" ng-click="$event.stopPropagation()">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" ng-click="isCollapsed=!isCollapsed">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
						</button>
					</div>
					<div class="navbar-collapse" collapse="isCollapsed">
						<ul class="nav navbar-nav">
							<li><a href="index.html">{{ 'NAV_TURTLE' | translate }}</a></li>
							<li><a href="barrel.html">{{ 'NAV_BARREL' | translate }}</a></li>
							<li><a href="event.html">{{ 'NAV_EVENT' | translate }}</a></li>
							<li class="active"><a href="event-jpn.html">{{ 'NAV_EVENT' | translate }}(JPN)</a></li>
							<li id="settings"><a href="settings.html">{{ 'NAV_SETTINGS' | translate }}</a></li>
						</ul>
						<div class="language-picker nav pull-right">
							<pls id="pls1" items="plsModel.languages" open-mode="click" show-flag="true" selected-lang="{{locale.flag}}" language-changed-callback="onLanguageChanged(lang)"></pls>
						</div>
					</div>
				</div>
		</nav>

		<div class="jumbotron" ng-controller="EventCtrl as event">
			<div class="container">
				<h1>Cotton Candy Calculator</h1>
				<div>
					<div class="id">
						<span>{{'TT_DIGIT' | translate}}</span>
						<input type="number" min="0" max="9" ng-model="event.id" class="input-id" select-on-click>
						<input type="checkbox" name="militaryTime" ng-model="event.military">{{'TT_FORMAT' | translate}}
					</div>
					<p>{{'TT_TIMEZONE' | translate}} {{event.timezone}}</p>
					<div class="event-day">
						<event-day-jpn
							military="event.military"
							index="$index"
							my-id="event.id"
							my-time="event.my_time"
							ng-repeat="t in event.range(3) track by $index"
							locale="locale.locale"
							>
						</event-day-jpn>
					</div>
				</div>
			</div>
		</div>

	</body>

</html>
