<div class="popover-data" ng-controller="PopoverCtrl">

    <table class="table table-striped">
        <tbody>
            <tr class="header">
                <td colspan="5">Special</td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="special" ng-if="details.special && cooldown">
                    	{{details.special}}
                    </div>
                    <div class="cooldown" ng-if="details.special && cooldown">
                        {{cooldown.length ? cooldown[0] : cooldown}} turns
                        {{cooldown.length ? ' (maxed: ' + cooldown[1] + ' turns)' : ''}}<!--Show LB CD as well as multi specials (if it can work)-->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
