<div id="outer-container">
    <div id="container">
        <div id="content">

            <div id="columns" regulate-height>
                <div class="column" ng-repeat="unitNumber in range(0,6)" dropzone="slot" attach-picker>

                    <div class="unitContainer" draggable="slot" removable>

                        <div class="unit" decorate-slot uid="team[unitNumber].uid"
                            ng-class="{ empty: !team[unitNumber] || !team[unitNumber].uid }"></div>

                    </div>

                    <div class="slots">

                        <slot-wheel ng-repeat="slotNumber in range(0,slotCount(team[unitNumber].uid))">
                        </slot-wheel>

                    </div>

                </div>
            </div>

            <div id="summary" ui-view="summary"></div>

            <div ng-controller="ExportCtrl" id="urlContainer">

                <button class="btn btn-success pull-right" ng-click="generateURL()">
                    <i class="fa fa-exchange"></i>
                </button>

                <input ng-model="url" ng-class="{ visible: url }"></input>

            </div>

            <div id="transient" class="alert alert-danger" ng-show="options.transient" ng-click="options.transient = false">
                <i class="fa fa-lock"></i>
                Transient mode enabled. Click to disable.
            </div>

        </div>
    </div>
</div>

<div class="unit empty fa fa-trash-o" id="removeZone" style="display: none" dropzone></div>
