<div id="outer-container">
    <div id="container">
        <div id="content">

            <div id="columns" regulate-height>
                <div class="column" ng-repeat="unitNumber in range(0,6)" dropzone="slot" attach-picker>

                    <div class="quick-fill" ng-class="{ visible: team[unitNumber].uid }" ng-click="quickFill(unitNumber)">
                        Quick fill
                    </div>

                    <div class="unitContainer" draggable="slot" removable>

                        <div class="unit" decorate-slot uid="team[unitNumber].uid"
                            ng-class="{ empty: !team[unitNumber] || !team[unitNumber].uid }"></div>

                    </div>

                    <div class="slots">

                        <slot-wheel ng-repeat="slotNumber in range(0,slotCount(team[unitNumber].uid))">
                        </slot-wheel>

                    </div>

                </div>
            </div>

            <div id="summary" ui-view="summary"></div>

            <div id="urlContainer" ng-class="{ visible: url }">
                <input ng-model="url"></input>
            </div>

            <div id="buttonContainer">

                <button class="btn color6" ui-sref="main.copy"  uib-tooltip="Copy" tooltip-append-to-body="true">
                    <i class="fa fa-refresh"></i>
                </button>

                <button class="btn btn-info" ui-sref="main.save" ng-disabled="!team.length"  uib-tooltip="Save" tooltip-append-to-body="true">
                    <i class="fa fa-download"></i>
                </button>

                <button class="btn btn-primary" ui-sref="main.load"  uib-tooltip="Load" tooltip-append-to-body="true">
                    <i class="fa fa-upload"></i>
                </button>

                <button class="btn btn-danger" ui-sref="main.reset" ng-disabled="!team.length"  uib-tooltip="Reset" tooltip-append-to-body="true">
                    <i class="fa fa-eraser"></i>
                </button>

                <button class="btn btn-success" ng-click="generateURL()" ng-disabled="!team.length"  uib-tooltip="Export URL" tooltip-append-to-body="true">
                    <i class="fa fa-exchange"></i>
                </button>

                <button class="btn btn-warning" ui-sref="main.image" ng-disabled="!team.length"  uib-tooltip="Export Image" tooltip-append-to-body="true">
                    <i class="fa fa-picture-o"></i>
                </button>

            </div>

            <div id="transient" class="alert alert-danger" ng-show="options.transient" ng-click="options.transient = false"  uib-tooltip="Save" tooltip-append-to-body="true">
                <i class="fa fa-lock"></i>
                Transient mode enabled. Click to disable.
            </div>

        </div>
    </div>
</div>

<div class="unit empty fa fa-trash-o" id="removeZone" style="display: none" dropzone></div>
