<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">Pick a Unit</div>
                <div class="modal-body">

                    <input type="text" id="picker" placeholder="type to filter"
                        ng-model="query" ng-model-options="{ debounce: 500 }" auto-focus class="modal-filter">

                    <div id="pickerUnits" class="modal-div">
                        <div class="slot medium" ng-repeat="unit in units" ng-click="pickUnit(unit.number)"
                            decorate-slot="static" uid="unit.number + 1" flag="true">
                        </div> 
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ui-sref="^">Cancel</button> 
                </div>
            </div>
        </div>

    </div>

</div>
