<h4 ng-show="summaryEnabled" ng-click="showAbilities = !showAbilities">
    Abilities
    <i class="pull-right fa fa-chevron-{{showAbilities ? 'up' : 'down' }}"></i>
</h4>

<div id="table-container" ng-class="{ expanded: showAbilities }">
    <table class="table table-striped" id="ability-table" ng-show="summaryEnabled">
        <tbody>

            <tr ng-repeat="i in range(0,10)" ng-show="summary[i]">

                <td>
                    <div class="ability"></div>
                </td>
                <td>
                    <b>{{summary[i].points}} point{{summary[i].points > 1 ? 's' : ''}}, level {{summary[i].level}}:</b>
                    <span ng-class="{ inactive: summary[i].level == 0 }">{{summary[i].description}}</span>
                    <br ng-if="summary[i].missing > -1" />
                    <span ng-if="summary[i].missing > -1" class="next">
                        <b>Next level:</b>
                        {{summary[i].next}}
                        (<b>{{summary[i].missing}}</b> more points needed)
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
