<div class="menu ability-button">

    <div class="btn trigger" add-ability></div>

    <div class="icons">

        <div class="abilitySlot">
            <div class="ability" ng-if="!isUsed(0)" ng-click="pickAbility($event,0)"></div>
        </div>

        <div class="abilitySlot">
            <div class="ability" ng-if="!isUsed(1)" ng-click="pickAbility($event,1)"></div>
        </div>

        <div class="abilitySlot">
            <div class="ability" ng-if="!isUsed(2)" ng-click="pickAbility($event,2)"></div>
        </div>

        <div class="abilitySlot">
            <div class="ability" ng-if="!isUsed(3)" ng-click="pickAbility($event,3)"></div>
        </div>

        <div class="abilitySlot">
            <div class="ability" ng-if="!isUsed(4)" ng-click="pickAbility($event,4)"></div>
        </div>

        <div class="abilitySlot">
            <div class="ability" ng-if="!isUsed(5)" ng-click="pickAbility($event,5)"></div>
        </div>

        <div class="abilitySlot">
            <div class="ability" ng-if="!isUsed(6)" ng-click="pickAbility($event,6)"></div>
        </div>

        <div class="abilitySlot">
            <div class="ability" ng-if="!isUsed(7)" ng-click="pickAbility($event,7)"></div>
        </div>

        <div class="abilitySlot">
            <div class="ability" ng-if="!isUsed(8)" ng-click="pickAbility($event,8)"></div>
        </div>

        <div class="abilitySlot">
            <div class="ability" ng-if="!isUsed(9)" ng-click="pickAbility($event,9)"></div>
        </div>

    </div>

</div>
