<div class="unitOrb {{glow()}}">

    <i class="fa"
        ng-show="tdata.team[slot].orb != 'g' && tdata.team[slot].orb != 'str' && tdata.team[slot].orb != 'rainbow'"
        ng-class="{ 'fa-caret-up': tdata.team[slot].orb == 2, 'fa-caret-down': tdata.team[slot].orb == 0.5 }">
    </i>

    <i class="g-orb" ng-show="tdata.team[slot].orb == 'g'">
        G
    </i>

    <i class="str-orb" ng-show="tdata.team[slot].orb == 'str'">
        S
    </i>
    
    <i class="rainbow-orb" ng-show="tdata.team[slot].orb == 'rainbow'">
        R
    </i>

</div>
