<div class="popover-data" ng-controller="PopoverCtrl">

    <table class="table table-striped">
        <tbody>
            <tr></tr>
            <tr class="header">
                <td ng-if="data.team[slot].unit.class.length > 2">Class</td>
                <td ng-if="data.team[slot].unit.class.length < 3">Class 1</td>
                <td ng-if="data.team[slot].unit.class.length < 3">Class 2</td>
                <td>Type</td>
                <td>Rarity</td>
                <td colspan="{{data.team[slot].unit.class.length < 3 ? 1 : 2}}">Cost</td>
            </tr>
            <tr>
                <td ng-if="data.team[slot].unit.class.length > 2">{{data.team[slot].unit.class}}</td>
                <td ng-if="data.team[slot].unit.class.length < 3">{{data.team[slot].unit.class[0]}}</td>
                <td ng-if="data.team[slot].unit.class.length < 3">{{data.team[slot].unit.class[1]}}</td>
                <td>{{data.team[slot].unit.type}}</td>
                <td>
                    <i class="fa fa-star" ng-repeat="i in [ ] | range:data.team[slot].unit.stars"></i>
                </td>
                <td colspan="{{data.team[slot].unit.class.length < 3 ? 1 : 2}}">{{data.team[slot].unit.cost}}</td>
            </tr>
            <tr class="header">
                <td>HP</td>
                <td>ATK</td>
                <td>RCV</td>
                <td>CMB</td>
                <td>Slots</td>
            </tr>
            <tr>
                <td>
                    {{numbers.team[slot].hp | number}}
                    {{data.team[slot].candies.hp > 0 ? ' (+' + (data.team[slot].candies.hp * 5) + ')' : ''}}
                </td>
                <td>
                    {{numbers.team[slot].atk | number}}
                    {{data.team[slot].candies.atk > 0 ? ' (+' + (data.team[slot].candies.atk* 2) + ')' : ''}}
                </td>
                <td>
                    {{numbers.team[slot].rcv | number}}
                    {{data.team[slot].candies.rcv > 0 ? ' (+' + data.team[slot].candies.rcv + ')' : ''}}
                </td>
                <td>{{data.team[slot].unit.combo}}</td>
                <td>{{data.team[slot].unit.slots}}</td>
            </tr>
            <tr class="header" ng-if="(data.team[slot].unit.limitHP - data.team[slot].unit.maxHP != 0 && data.team[slot].unit.limitATK - data.team[slot].unit.maxATK != 0 && data.team[slot].unit.limitRCV - data.team[slot].unit.maxRCV != 0)">
                <td>Limit Break HP</td>
                <td>Limit Break ATK</td>
                <td>Limit Break RCV</td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-if="(data.team[slot].unit.limitHP - data.team[slot].unit.maxHP != 0 && data.team[slot].unit.limitATK - data.team[slot].unit.maxATK != 0 && data.team[slot].unit.limitRCV - data.team[slot].unit.maxRCV != 0)">
                <td>
                    {{data.team[slot].unit.limitHP | number}} (+{{data.team[slot].unit.limitHP - data.team[slot].unit.maxHP | number}})
                </td>
                <td>
                    {{data.team[slot].unit.limitATK | number}} (+{{data.team[slot].unit.limitATK - data.team[slot].unit.maxATK | number}})
                </td>
                <td>
                    {{data.team[slot].unit.limitRCV | number}} (+{{data.team[slot].unit.limitRCV - data.team[slot].unit.maxRCV | number}})
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr class="header" ng-if="(data.team[slot].unit.limitexHP - data.team[slot].unit.maxHP != 0 && data.team[slot].unit.limitexATK - data.team[slot].unit.maxATK != 0 && data.team[slot].unit.limitexRCV - data.team[slot].unit.maxRCV != 0 && data.team[slot].unit.limitexHP - data.team[slot].unit.limitHP != 0 && data.team[slot].unit.limitexATK - data.team[slot].unit.limitATK != 0 && data.team[slot].unit.limitexRCV - data.team[slot].unit.limitRCV != 0)">
                <td>Limit Break Ex. HP</td>
                <td>Limit Break Ex. ATK</td>
                <td>Limit Break Ex. RCV</td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-if="(data.team[slot].unit.limitexHP - data.team[slot].unit.maxHP != 0 && data.team[slot].unit.limitexATK - data.team[slot].unit.maxATK != 0 && data.team[slot].unit.limitexRCV - data.team[slot].unit.maxRCV != 0 && data.team[slot].unit.limitexHP - data.team[slot].unit.limitHP != 0 && data.team[slot].unit.limitexATK - data.team[slot].unit.limitATK != 0 && data.team[slot].unit.limitexRCV - data.team[slot].unit.limitRCV != 0)">
                <td>
                    {{data.team[slot].unit.limitexHP | number}} (+{{data.team[slot].unit.limitexHP - data.team[slot].unit.maxHP | number}})
                </td>
                <td>
                    {{data.team[slot].unit.limitexATK | number}} (+{{data.team[slot].unit.limitexATK - data.team[slot].unit.maxATK | number}})
                </td>
                <td>
                    {{data.team[slot].unit.limitexRCV | number}} (+{{data.team[slot].unit.limitexRCV - data.team[slot].unit.maxRCV | number}})
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr class="header" ng-if="slot < 2">
                <td colspan="5">Captain Ability</td>
            </tr>
            <tr ng-if="slot < 2">
                <td colspan="5"> <!--
                    <span class="badge badge-base" ng-show="details.captain.base">Base Captain Ability</span>
                    <div ng-show="details.captain.base" ng-bind-html="details.captain.base | decorate"></div>
                    <span class="badge badge-level1" ng-show="details.captain.level1">Limit Break Level 1 Captain Ability</span>
                    <div ng-show="details.captain.level1" ng-bind-html="details.captain.level1 | decorate"></div>
                    <span class="badge badge-level2" ng-show="details.captain.level2">Limit Break Level 2 Captain Ability</span>
                    <div ng-show="details.captain.level2" ng-bind-html="details.captain.level2 | decorate"></div>
                    <span class="badge badge-level3" ng-show="details.captain.level3">Limit Break Level 3 Captain Ability</span>
                    <div ng-show="details.captain.level3" ng-bind-html="details.captain.level3 | decorate"></div>
                    <span class="badge badge-level4" ng-show="details.captain.level4">Limit Break Level 4 Captain Ability</span>
                    <div ng-show="details.captain.level4" ng-bind-html="details.captain.level4 | decorate"></div>
                    <span class="badge badge-level5" ng-show="details.captain.level5">Limit Break Level 5 Captain Ability</span>
                    <div ng-show="details.captain.level5" ng-bind-html="details.captain.level5 | decorate"></div>
                    <span class="badge badge-level6" ng-show="details.captain.level6">Limit Break Level 6 Captain Ability</span>
                    <div ng-show="details.captain.level6" ng-bind-html="details.captain.level6 | decorate"></div>
                    <span class="badge badge-character1" ng-show="details.captain.character1">Character 1 Captain Ability</span>
                    <div ng-show="details.captain.character1" ng-bind-html="details.captain.character1 | decorate"></div>
                    <span class="badge badge-character2" ng-show="details.captain.character2">Character 2 Captain Ability</span>
                    <div ng-show="details.captain.character2" ng-bind-html="details.captain.character2 | decorate"></div>
                    <span class="badge badge-combined" ng-show="details.captain.combined">Dual Characters Captain Ability</span>
                    <div ng-show="details.captain.combined" ng-bind-html="details.captain.combined | decorate"></div> -->
                    <div ng-bind-html="details.captain | decorate"></div>
                    <span class="notes" ng-if="details.captainNotes" ng-bind-html="details.captainNotes | notes | decorate"></span>
                </td>
            </tr>
            <tr class="header" ng-if="slot > 1">
                <td colspan="5">Sailor Ability</td>
            </tr>
            <tr ng-if="slot > 1">
                <td colspan="5">
                    <div ng-if="!details.sailor.base && !details.sailor.combined" ng-show="details.sailor" ng-bind-html="details.sailor | decorate"></div>
                    <span class="badge badge-sbase" ng-show="details.sailor.base">Sailor Ability</span>
                    <div ng-show="details.sailor.base" ng-bind-html="details.sailor.base | decorate"></div>
                    <span class="badge badge-sbase2" ng-show="details.sailor.base2">Sailor Ability 2</span>
                    <div ng-show="details.sailor.base2" ng-bind-html="details.sailor.base2 | decorate"></div>
                    <span class="badge badge-character1" ng-show="details.sailor.character1">Character 1 Sailor Ability</span>
                    <div ng-show="details.sailor.character1" ng-bind-html="details.sailor.character1 | decorate"></div>
                    <span class="badge badge-character2" ng-show="details.sailor.character2">Character 2 Sailor Ability</span>
                    <div ng-show="details.sailor.character2" ng-bind-html="details.sailor.character2 | decorate"></div>
                    <span class="badge badge-combined" ng-show="details.sailor.combined">Dual Characters Sailor Ability</span>
                    <div ng-show="details.sailor.combined" ng-bind-html="details.sailor.combined | decorate"></div>
                    <span class="badge badge-slevel1" ng-show="details.sailor.level1">Limit Break Sailor Ability 1</span>
                    <div ng-show="details.sailor.level1" ng-bind-html="details.sailor.level1 | decorate"></div>
                    <span class="badge badge-slevel2" ng-show="details.sailor.level2">Limit Break Sailor Ability 2</span>
                    <div ng-show="details.sailor.level2" ng-bind-html="details.sailor.level2 | decorate"></div>
                    <span class="notes" ng-if="details.sailorNotes" ng-bind-html="details.sailorNotes | notes | decorate"></span>
                </td>
            </tr>
            <tr class="header">
                <td colspan="5">Special: <strong class="specialName" ng-if="details.specialName">{{details.specialName}}</strong></td>
            </tr>
            <tr>
                <td colspan="5">
                    <div ng-bind-html="details.special | decorate"></div>
                    <div class="cooldown" ng-if="details.special && cooldown">
                        {{cooldown.length ? cooldown[0] : cooldown}} turns
                        {{cooldown.length ? ' (maxed: ' + cooldown[1] + ' turns)' : ''}}
                        <!--Show LB and Staged Special-->
                    </div>
                    <span class="notes" ng-if="details.specialNotes" ng-bind-html="details.specialNotes | notes | decorate"></span>
                </td>
            </tr>
            <!--Show Potential and Support Abilities if it can work -->
        </tbody>
    </table>

</div>