<div class="unit" ng-class="{ empty: !data.team[slot].unit }" dropzone="slot" attach-picker
    popover-placement="{{!data.team[slot].unit ? 'bottom' : (slot%2 == 0 ? 'left' : 'right')}}"
    popover-trigger="mouseenter" popover-title="{{data.team[slot].unit.name}}"
    uib-popover-template="'views/fragments/popover.html'" popover-append-to-body="'true'">

    <span class="unitPlaceholder" ng-hide="data.team[slot].unit"
        ng-if="slot == 0">Click to add (friend)</span>
    <span class="unitPlaceholder" ng-hide="data.team[slot].unit"
        ng-if="slot == 1">Click to add (captain)</span>
    <span class="unitPlaceholder" ng-hide="data.team[slot].unit"
        ng-if="slot > 1">Click to add</span>

    <level-label ng-if="data.team[slot].unit">Lv. {{ data.team[slot].level }}</level-label>

    <div class="unitContainer" ng-show="data.team[slot].unit" draggable="slot" stop-propagation removable>
        <div class="unitPortrait" decorate-slot="notitle" uid="data.team[slot].unit.number + 1" udata="numbers.team[slot]"></div>
        <unit-orb></unit-orb>
        <unit-chain></unit-chain>
        <unit-silence ng-if="slot < 2"></unit-silence>
        <unit-candies></unit-candies>
    </div>

    <level-slider></level-slider>

    <div class="ribbon-container" ng-if="slot < 2">
        <div class="corner-ribbon orange" ng-if="slot < 1">Friend</div>
        <div class="corner-ribbon red" ng-if="slot == 1">Captain</div>
    </div>

</div>
