<div class="unit" ng-class="{ empty: !unit.unit }" ui-sref=".pick({ slot: slot })">

    <span class="unitPlaceholder" ng-hide="unit.unit"
        ng-if="slot == 0">Click to add (friend)</span>
    <span class="unitPlaceholder" ng-hide="unit.unit"
        ng-if="slot == 1">Click to add (captain)</span>
    <span class="unitPlaceholder" ng-hide="unit.unit"
        ng-if="slot > 1">Click to add</span>

    <level-label ng-if="unit.unit">Lv. {{ unit.level }}</level-label>

    <div class="unitPortrait" ng-if="unit.unit" decorate-slot uid="unit.unit.number">
        <div class="unitOrb"></div>
    </div>

    <input disabled class="unitSlider"></input>

    <div class="ribbon-container" ng-if="slot < 2">
        <div class="corner-ribbon orange" ng-if="slot < 1">Friend</div>
        <div class="corner-ribbon red" ng-if="slot == 1">Captain</div>
    </div>

</div>
