body {
    padding: 50px 0 0 0;
}

#main {
    width: 1000px;
    margin: auto;
}

h2, h3 {
    margin: 5px 0 5px 0;
    padding-bottom: 2px;
}

h3 > div, td {
    vertical-align: middle !important;
}

.island {
    margin-left: 25px;
}

.island.collapsed > h3 {
    border-bottom: 1px solid lightgray;
}

td:first-child {
    width: 80px;
    max-width: 80px;
    white-space: nowrap;
}

.island:not(.collapsed) > h3 > .fa-chevron-down,
.island.collapsed > h3 > .fa-chevron-up,
.type.collapsed > h2 > .fa-chevron-up,
.type:not(.collapsed) > h2 > .fa-chevron-down {
    display: none;
}

h2:hover > span, h3:hover > span {
    text-decoration: underline;
    cursor: pointer;
}

h1 > label {
    font-size: 14px;
    position: relative;
    bottom: 5px;
    margin-left: 15px;
}

h1 > label > input {
    position: relative;
    top: 2px;
    right: 2px;
}

/*******************
 * SLOT THUMBNAILS *
 *******************/

.slot {
    display: inline-block;
}

.slot:hover {
    outline: 1px solid red;
}

.slot.small {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    margin: 1px;
}
