<h2 class="page-header">
    Evolution pool
    <collapse n="0" collapsed="collapsed"></collapse>
</h2>

<div>
    Units you plan to evolve. CTRL/Middle-click to remove.
    <div id="pool" class="panel">
        <a class="slot small" remove-on-click="pool" target="_blank" add-href
            decorate-slot uid="unit.id" ng-repeat="unit in pool"></a>

        <add-button ui-sref=".pick"></add-button>
    </div>
</div>

<h2 class="page-header">
    Material pool
    <collapse n="1" collapsed="collapsed"></collapse>
</h2>

<div>
    Materials you currently have. Click to change amount. CTRL/Middle-click to remove.
    <span class="pull-right clickable" ng-click="sortMatsByColor = !sortMatsByColor">
        <i class="fa fa-retweet"></i>
    </span>
    <div id="pool" class="panel">
        <a class="slot small" remove-on-click="mats" target="_blank" change-on-click
            decorate-slot uid="unit.id" amount="unit.amount" ng-repeat="unit in mats"></a>
        <add-button ui-sref=".pickMat"></add-button>
    </div>
</div>

<h2 class="page-header">Materials</h2>

<div>
    <table id="mat-table" class="table table-striped">
        <tr>
            <th>Still needed</th>
            <th>Already collected</th>
        </tr>
        <tr ng-repeat="type in matTypes" ng-if="required[type] || available[type]">
            <td>
                <a class="slot small" ng-repeat="(id,units) in required[type].missing | orderBy:'id'" target="_blank"
                    add-href decorate-slot uid="id" amount="units.length" units="units" available="available">
                </a>
            </td>
            <td>
                <a class="slot small" ng-repeat="(id,units) in required[type].completed | orderBy:'id'" target="_blank"
                    add-href decorate-slot uid="id" amount="units.length" units="units" available="available">
                </a>
            </td>
        </tr>
    </table>
</div>

<h2 class="page-header" ng-if="unused.length > 0">Unused materials</h2>

<div ng-if="unused.length > 0">
    <div id="unused" class="panel">
        <a class="slot small" target="_blank" decorate-slot uid="unit.id" amount="unit.amount"
            ng-repeat="unit in unused"></a>
    </div>
</div>

<h2 class="page-header" ng-if="extra.length > 0">Extra materials</h2>

<span ng-if="extra.length > 0">Required materials you have extra copies of. Shows the number of extra copies you have.</span>
<div ng-if="extra.length > 0">
    <div id="unused" class="panel">
        <a class="slot small" target="_blank" decorate-slot uid="unit.id" amount="unit.amount"
            ng-repeat="unit in extra"></a>
    </div>
</div>

<h2 class="page-header">Import/export</h2>

<div id="button-container">
    <export-button></export-button>
    <import-button></import-button>
</div>

<div class="footer"></div>
