<table class="table table-condensed table-striped" id="quick-pick-table" ng-controller="QuickPickCtrl">
    <tbody>
        <tr>
            <td ng-repeat="uid in range(78,84)">
                <div class="slot micro" ng-click="quickPick(uid)" decorate-slot uid="uid"></div>
            </td>
        </tr>
        <tr>
            <td ng-repeat="uid in range(84,89)">
                <div class="slot micro" ng-click="quickPick(uid)" decorate-slot uid="uid"></div>
            </td>
            <td><div class="slot micro" ng-click="quickPick(266)" decorate-slot uid="266"></div></td>
        </tr>
        <tr>
            <td ng-repeat="uid in range(89,95)">
                <div class="slot micro" ng-click="quickPick(uid)" decorate-slot uid="uid"></div>
            </td>
        </tr>
        <tr>
            <td ng-repeat="uid in range(95,100)">
                <div class="slot micro" ng-click="quickPick(uid)" decorate-slot uid="uid"></div>
            </td>
        </tr>
        <tr>
            <td ng-repeat="uid in range(100,105)">
                <div class="slot micro" ng-click="quickPick(uid)" decorate-slot uid="uid"></div>
            </td>
            <td><div class="slot micro" ng-click="quickPick(267)" decorate-slot uid="267"></div></td>
        </tr>
        <tr>
            <td ng-repeat="uid in range(300,305)">
                <div class="slot micro" ng-click="quickPick(uid)" decorate-slot uid="uid"></div>
            </td>
        </tr>
        <tr>
            <td ng-repeat="uid in range(115,119)">
                <div class="slot micro" ng-click="quickPick(uid)" decorate-slot uid="uid"></div>
            </td>
        </tr>
    </tbody>
</table>
