<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">Instructions</div>
                    <div class="modal-body slim">
                        <div id="instructions">
                            How to use this Calculator:
                            <br>
                            <ol>
                                <li>Select the Unit you want to Skill up/Socket</li>
                                <li>Enter whatever Sockets you already have on that Unit</li>
                                <ul>
                                    <li>Click on a Socket to change its level</li>
                                </ul>
                                <li>Enter the Amount of Books/Duplicates you have of that Unit</li>
                                <li>Enter the Amount of Skill Ups you need</li>
                                <ul>
                                    <li>If you want to calculate the chance during a Special Level Chance Up Event,<br> check the box for it</li>
                                </ul>
                                <li>Click Calculate for whichever Number you want to calculate</li>
                                <li>Go and cry in a corner because the chance is way too low</li>
                            </ol>

                       
                           <b>Disclaimer:</b><br><tt>This is only Probability Calculation with averages collected by the comunity. <br>Don't come crying to us when you didn't farm enough mihawks because the calculation put you close to 100% <br>You should also look up how probabilites work if you want to blame us</tt>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ui-sref="^">Go Back</button> 
                </div>
            </div>
        </div>
    </div>

</div>
