<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div class="modal-dialog">
            <div class="modal-content animated rollIn">

                <div class="modal-header">
                    <div class="fa fa-arrow-left btn btn-default back-button" ng-if="withButton" ng-click="onBackClick()"></div>    
                    {{unit.name}}
                </div>

                <div class="modal-body" ng-class="{ preview: unit.preview }">

                    <div ng-if="!unit.incomplete" class="slot huge" decorate-slot big="true" uid="unit.number + 1"></div>

                    <div ng-if="unit.preview" class="alert alert-warning">
                        <b>WARNING:</b> Currently viewing the preview of an upcoming unit not yet released, the information provided may not be accurate.
                    </div>

                    <div ng-if="unit.incomplete && !unit.preview" class="alert alert-danger">
                        This unit's complete information is still partially missing and will soon be added.
                    </div>

                    <h3 class="page-header">
                        Details
                        <i ng-if="compare" ng-click="clearComparison()" class="fa fa-times pull-right" id="compare-clear" title="clear"></i>
                        <input compare type="text" id="compare" class="pull-right" placeholder="Compare with..."></input>
                        <label class="pull-right">
                            <input type="checkbox" ng-model="characterLog[id]" ng-change="checkLog()"></input>
                            In Character Log
                        </label>
                    </h3>

                    <div class="panel panel-default stats-pane">
                        <table class="table table-striped">
                            <tbody>
                                <tr ng-if="dualunit">
                                    <th ng-if="hybrid">Character 1 Class 1</th>
                                    <th ng-if="hybrid">Character 1 Class 2</th>
                                    <th ng-if="hybrid">Character 2 Class 1</th>
                                    <th ng-if="hybrid" colspan=2>Character 2 Class 2</th>
                                </tr>
                                <tr ng-if="dualunit">
                                    <td ng-if="unit.class[0].length == 2">{{unit.class[0][0]}}</td>
                                    <td ng-if="unit.class[0].length != 2">{{unit.class[0]}}</td>
                                    <td ng-if="unit.class[0].length == 2">{{unit.class[0][1]}}</td>
                                    <td ng-if="unit.class[0].length != 2"></td>
                                    <td ng-if="unit.class[1].length == 2">{{unit.class[1][0]}}</td>
                                    <td ng-if="unit.class[1].length != 2">{{unit.class[1]}}</td>
                                    <td ng-if="unit.class[1].length == 2" colspan=2>{{unit.class[1][1]}}</td>
                                    <td ng-if="unit.class[1].length != 2" colspan=2>None    </td>
                                </tr>
                                <tr>
                                    <th ng-if="!hybrid">Class</th>
                                    <th ng-if="hybrid && !dualunit">Class 1</th>
                                    <th ng-if="hybrid && !dualunit">Class 2</th>
                                    <th ng-if="hybrid && dualunit"> Dual Character Class 1</th>
                                    <th ng-if="hybrid && dualunit"> Dual Character Class 2</th>
                                    <th>Type</th>
                                    <th>Stars</th>
                                    <th>Cost</th>
                                </tr>
                                <tr>
                                    <td ng-if="!hybrid">{{unit.class}}</td>
                                    <td ng-if="hybrid && !dualunit">{{unit.class[0]}}</td>
                                    <td ng-if="hybrid && !dualunit">{{unit.class[1]}}</td>
                                    <td ng-if="hybrid && dualunit">{{unit.class[2][0]}}</td>
                                    <td ng-if="hybrid && dualunit">{{unit.class[2][1]}}</td>
                                    <td ng-if="!dualunit">{{unit.type}}</td>
                                    <td ng-if="dualunit">{{unit.type[0]}}/{{unit.type[1]}}</td>
                                    <td ng-if="!compare">{{unit.stars}}</td>
                                    <td ng-if="compare" comparison="positive">{{unit.stars - compare.stars}}</td>
                                    <td ng-if="!compare">{{unit.cost}}</td>
                                    <td ng-if="compare" comparison="negative">{{unit.cost - compare.cost}}</td>
                                </tr>
                                <tr>
                                    <th>Combo</th>
                                    <th>Slots</th>
                                    <th>Max Level</th>
                                    <th colspan="{{hybrid ? 2 : 1}}">EXP to Max</th>
                                </tr>
                                <tr>
                                    <td ng-if="!compare">{{unit.combo}}</td>
                                    <td ng-if="compare" comparison="negative">{{unit.combo - compare.combo}}</td>
                                    <td ng-if="!compare"><span ng-if='unit.slots==unit.limitSlot'>{{unit.preview ? '' : unit.slots}}</span><span ng-if='unit.slots!=unit.limitSlot'>{{unit.preview ? '' : unit.slots + ' \u2192 ' + unit.limitSlot}}</span></td>
                                    <td ng-if="compare" comparison="positive">{{unit.slots - compare.slots}}</td>
                                    <td>{{unit.maxLevel}}</td>
                                    <td ng-if="!compare" colspan="{{hybrid ? 2 : 1}}">{{unit.maxEXP | number}}</td>
                                    <td ng-if="compare" colspan="{{hybrid ? 2 : 1}}" comparison="negative">{{unit.maxEXP - compare.maxEXP | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h3 class="page-header" ng-hide="hidden.stats">Stats</h3>

                    <uib-tabset ng-hide="hidden.stats">
                        <uib-tab heading="Stats">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Level</th>
                                        <th>HP</th>
                                        <th>ATK</th>
                                        <th>RCV</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td ng-if="!compare">{{unit.minHP | number}}</td>
                                        <td ng-if="compare" comparison="positive">{{unit.minHP - compare.minHP | number}}</td>
                                        <td ng-if="!compare">{{unit.minATK | number}}</td>
                                        <td ng-if="compare" comparison="positive">{{unit.minATK - compare.minATK | number}}</td>
                                        <td ng-if="!compare">{{unit.minRCV | number}}</td>
                                        <td ng-if="compare" comparison="positive">{{unit.minRCV - compare.minRCV | number}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{unit.maxLevel}}</td>
                                        <td ng-if="!compare">{{unit.maxHP | number}}</td>
                                        <td ng-if="compare" comparison="positive">{{unit.maxHP - compare.maxHP | number}}</td>
                                        <td ng-if="!compare">{{unit.maxATK | number}}</td>
                                        <td ng-if="compare" comparison="positive">{{unit.maxATK - compare.maxATK | number}}</td>
                                        <td ng-if="!compare">{{unit.maxRCV | number}}</td>
                                        <td ng-if="compare" comparison="positive">{{unit.maxRCV - compare.maxRCV | number}}</td>
                                    </tr>
                                    <tr ng-if="!((unit.limitHP-unit.maxHP == 0) && (unit.limitATK-unit.maxATK == 0) && (unit.limitRCV-unit.maxRCV == 0))">
                                        <td>Limit Break</td>
                                        <td ng-if="!compare">{{unit.limitHP | number}} (+{{unit.limitHP-unit.maxHP | number}})</td>
                                        <td ng-if="compare" comparison="positive">{{unit.limitHP - compare.limitHP | number}}</td>
                                        <td ng-if="!compare">{{unit.limitATK | number}} (+{{unit.limitATK-unit.maxATK | number}})</td>
                                        <td ng-if="compare" comparison="positive">{{unit.limitATK - compare.limitATK | number}}</td>
                                        <td ng-if="!compare">{{unit.limitRCV | number}} (+{{unit.limitRCV-unit.maxRCV | number}})</td>
                                        <td ng-if="compare" comparison="positive">{{unit.limitRCV - compare.limitRCV | number}}</td>
                                    </tr>
                                    <tr ng-if="!compare && !incomplete">
                                        <td>
                                            <input type="number" placeholder="Level"
                                                ng-model="customLevel.level" min="1" max="unit.maxLevel">
                                        </td>
                                        <td><span ng-show="customLevel.enabled">{{customLevel.hp | number:0}}</span></td>
                                        <td><span ng-show="customLevel.enabled">{{customLevel.atk | number:0}}</span></td>
                                        <td><span ng-show="customLevel.enabled">{{customLevel.rcv | number:0}}<span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-tab>
                        <uib-tab heading="Chart" ng-if="!unit.incomplete">
                            <canvas id="radar-chart" class="chart chart-radar" chart-data="radar.data"
                                chart-labels="radar.labels" chart-options="radar.options"></canvas>
                        </uib-tab>
                        <uib-tab heading="HP Growth" ng-if="!unit.incomplete">
                            <canvas id="line-chart" class="chart chart-line" chart-data="radarHP.data" chart-series="radarHP.series"
                                chart-labels="radarHP.labels"></canvas>
                        </uib-tab>
                        <uib-tab heading="ATK Growth" ng-if="!unit.incomplete">
                            <canvas id="line-chart" class="chart chart-line" chart-data="radarATK.data" chart-series="radarATK.series"
                                chart-labels="radarATK.labels"></canvas>
                        </uib-tab>
                        <uib-tab heading="RCV Growth" ng-if="!unit.incomplete">
                            <canvas id="line-chart" class="chart chart-line" chart-data="radarRCV.data" chart-series="radarRCV.series"
                                chart-labels="radarRCV.labels"></canvas>
                        </uib-tab>
                    </uib-tabset>

                    <!-- Abilities (non-comparison) -->

                    <h3 class="page-header" ng-hide="hidden.abilities">Abilities</h3>

                    <div class="panel panel-default" ng-hide="hidden.abilities">
                        <table class="table table-striped-column abilities">
                            <tbody>
                                <tr>
                                    <td>Captain Ability</td>
                                    <td>
                                        <!-- same captain ability -->
                                        <div ng-if="!isCaptainHybrid" ng-bind-html="details.captain | decorate"></div>
                                        <!-- different captain abilities -->
                                        <div ng-if="isCaptainHybrid">
                                            <span class="badge badge-japan" ng-show="details.captain.japan">Japan</span>
                                            <div  ng-show="details.captain.japan" ng-bind-html="details.limit.japan | decorate"></div>
                                            <span class="badge badge-global" ng-show="details.captain.global">Global</span>
                                            <div  ng-show="details.captain.global" ng-bind-html="details.limit.global | decorate"></div>
                                            <span class="badge badge-base" ng-show="details.captain.base">Base Captain Ability</span>
                                            <div ng-show="details.captain.base" ng-bind-html="details.captain.base | decorate"></div>
                                            <span class="badge badge-level1" ng-show="details.captain.level1">Limit Break Level 1 Captain Ability</span>
                                            <div ng-show="details.captain.level1" ng-bind-html="details.captain.level1 | decorate"></div>
                                            <span class="badge badge-level2" ng-show="details.captain.level2">Limit Break Level 2 Captain Ability</span>
                                            <div ng-show="details.captain.level2" ng-bind-html="details.captain.level2 | decorate"></div>
                                            <span class="badge badge-level3" ng-show="details.captain.level3">Limit Break Level 3 Captain Ability</span>
                                            <div ng-show="details.captain.level3" ng-bind-html="details.captain.level3 | decorate"></div>
                                            <span class="badge badge-level4" ng-show="details.captain.level4">Limit Break Level 4 Captain Ability</span>
                                            <div ng-show="details.captain.level4" ng-bind-html="details.captain.level4 | decorate"></div>
                                            <span class="badge badge-level5" ng-show="details.captain.level5">Limit Break Level 5 Captain Ability</span>
                                            <div ng-show="details.captain.level5" ng-bind-html="details.captain.level5 | decorate"></div>
                                            <span class="badge badge-level6" ng-show="details.captain.level6">Limit Break Level 6 Captain Ability</span>
                                            <div ng-show="details.captain.level6" ng-bind-html="details.captain.level6 | decorate"></div>
                                            <span class="badge badge-character1" ng-show="details.captain.character1">Character 1 Captain Ability</span>
                                            <div ng-show="details.captain.character1" ng-bind-html="details.captain.character1 | decorate"></div>
                                            <span class="badge badge-character2" ng-show="details.captain.character2">Character 2 Captain Ability</span>
                                            <div ng-show="details.captain.character2" ng-bind-html="details.captain.character2 | decorate"></div>
                                            <span class="badge badge-combined" ng-show="details.captain.combined">Dual Characters Captain Ability</span>
                                            <div ng-show="details.captain.combined" ng-bind-html="details.captain.combined | decorate"></div>
                                        </div>
                                        <span class="notes" ng-if="details.captainNotes" ng-bind-html="details.captainNotes | notes | decorate"></span>
                                    </td>
                                </tr>
                                <tr ng-if="details.sailor">
                                    <td>Sailor Ability</td>
                                    <td>
                                        <!-- same sailor ability -->
                                        <div ng-if="!isSailorHybrid" ng-bind-html="details.sailor | decorate"></div>
                                        <!-- different sailor abilities -->
                                        <div ng-if="isSailorHybrid">
                                            <span class="badge badge-japan" ng-show="details.sailor.japan">Japan</span>
                                            <div ng-show="details.sailor.japan" ng-bind-html="details.sailor.japan | decorate"></div>
                                            <span class="badge badge-global" ng-show="details.sailor.global">Global</span>
                                            <div ng-show="details.sailor.global" ng-bind-html="details.sailor.global | decorate"></div>
                                            <span class="badge badge-sbase" ng-show="details.sailor.base">Sailor Ability</span>
                                            <div ng-show="details.sailor.base" ng-bind-html="details.sailor.base | decorate"></div>
                                            <span class="badge badge-sbase2" ng-show="details.sailor.base2">Sailor Ability 2</span>
                                            <div ng-show="details.sailor.base2" ng-bind-html="details.sailor.base2 | decorate"></div>
                                            <span class="badge badge-character1" ng-show="details.sailor.character1">Character 1 Sailor Ability</span>
                                            <div ng-show="details.sailor.character1" ng-bind-html="details.sailor.character1 | decorate"></div>
                                            <span class="badge badge-character2" ng-show="details.sailor.character2">Character 2 Sailor Ability</span>
                                            <div ng-show="details.sailor.character2" ng-bind-html="details.sailor.character2 | decorate"></div>
                                            <span class="badge badge-combined" ng-show="details.sailor.combined">Dual Characters Sailor Ability</span>
                                            <div ng-show="details.sailor.combined" ng-bind-html="details.sailor.combined | decorate"></div>
                                            <span class="badge badge-slevel1" ng-show="details.sailor.level1">Limit Break Sailor Ability 1</span>
                                            <div ng-show="details.sailor.level1" ng-bind-html="details.sailor.level1 | decorate"></div>
                                            <span class="badge badge-slevel2" ng-show="details.sailor.level2">Limit Break Sailor Ability 2</span>
                                            <div ng-show="details.sailor.level2" ng-bind-html="details.sailor.level2 | decorate"></div>
                                        </div>
                                        <span class="notes" ng-if="details.sailorNotes" ng-bind-html="details.sailorNotes | notes | decorate"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Special</td>
                                    <td>
                                        <strong class="specialName" ng-if="details.specialName">{{details.specialName}}</strong>
                                        <!-- same special, no stages -->
                                        <div ng-if="!isSpecialHybrid && !isSpecialStaged" ng-bind-html="details.special | decorate"></div>
                                        <!-- same special, with stages -->
                                        <div ng-if="!isSpecialHybrid && isSpecialStaged">
                                            <div ng-repeat="stage in details.special track by $index">
                                                <strong>Stage {{$index + 1}}</strong>
                                                ({{stage.cooldown.length ? stage.cooldown[0] : stage.cooldown}}{{stage.cooldown.length ? ' \u2192 ' + stage.cooldown[1] : ''}} turns) <span ng-if="unit.limitCD != 0"><strong>➤</strong>
                                                ({{stage.cooldown.length ? stage.cooldown[0] - unit.limitCD : stage.cooldown}}{{stage.cooldown.length ? ' \u2192 ' + (stage.cooldown[1] - unit.limitCD) : ''}} turns):</span>
                                                <span ng-bind-html="stage.description | decorate"></span>
                                            </div>
                                        </div>
                                        <!-- different specials -->
                                        <div ng-if="isSpecialHybrid">
                                            <span class="badge badge-japan" ng-show="details.special.japan">Japan</span>
                                            <div ng-show="details.special.japan" ng-bind-html="details.special.japan | decorate"></div>
                                            <span class="badge badge-global" ng-show="details.special.global">Global</span>
                                            <div ng-show="details.special.global" ng-bind-html="details.special.global | decorate"></div>
                                            <span class="badge badge-character1" ng-show="details.special.character1">Character 1 Special Ability</span>
                                            <div ng-bind-html="details.special.character1 | decorate"></div>
                                            <span class="badge badge-character2" ng-show="details.special.character2">Character 2 Special Ability</span>
                                            <div ng-bind-html="details.special.character2 | decorate"></div>
                                        </div>
                                        <span class="notes" ng-if="details.specialNotes" ng-bind-html="details.specialNotes | notes | decorate"></span>
                                    </td>
                                </tr>
                                <tr ng-if="details.swap">
                                    <td>Swap</td>
                                    <td>
                                        <!-- same sailor ability -->
                                        <div ng-if="!isSwapHybrid" ng-bind-html="details.swap | decorate"></div>
                                        <!-- different sailor abilities -->
                                        <div ng-if="isSwapHybrid">
                                            <span class="badge badge-japan" ng-show="details.Swap.japan">Japan</span>
                                            <div ng-show="details.Swap.japan" ng-bind-html="details.sailor.japan | decorate"></div>
                                            <span class="badge badge-global" ng-show="details.Swap.global">Global</span>
                                            <div ng-show="details.Swap.global" ng-bind-html="details.Swap.global | decorate"></div>
                                        </div>
                                        <span class="notes" ng-if="details.swapNotes" ng-bind-html="details.swapNotes | notes | decorate"></span>
                                    </td>
                                </tr>
                                <tr ng-if="cooldown && !isSpecialStaged">
                                    <td>Cooldown<span ng-if="unit.limitCD != 0"><br>Cooldown w/ LB</span></td>
                                    <td>
                                        {{cooldown.length ? cooldown[0] : cooldown}} turns
                                        {{cooldown.length ? ' \u2192 ' + cooldown[1] + ' turns' : ''}}<span ng-if="unit.limitCD != 0"><br>
                                        {{cooldown.length ? (cooldown[0] - unit.limitCD) : (cooldown - unit.limitCD)}} turns
                                        {{cooldown.length ? ' \u2192 ' + (cooldown[1] - unit.limitCD) + ' turns' : ''}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel panel-default" ng-hide="hidden.abilities"  ng-if="details.limit || details.potential">
                        <table class="table table-striped-column abilities">
                            <tbody>
                                <tr ng-if="details.limit">
                                    <td>Limit Break</td>
                                    <td>
                                        <!-- same limit break (differences across versions) -->
                                        <div ng-if="!isLimitHybrid && !isLimitStaged" ng-bind-html="details.limit | decorate"></div>
                                        <!-- different limit abilities -->
                                        <div ng-if="!isLimitHybrid && isLimitStaged">
                                            <div ng-repeat="stage in details.limit track by $index">
                                                <strong>Level {{$index + 1}}:</strong>
                                                <span ng-bind-html="stage.description | decorate"></span>
                                            </div>
                                        </div>
                                        <div ng-if="isLimitHybrid">
                                            <span class="badge badge-japan">Japan</span>
                                            <div ng-bind-html="details.limit.japan | decorate"></div>
                                            <span class="badge badge-global">Global</span>
                                            <div ng-bind-html="details.limit.global | decorate"></div>
                                        </div>
                                        <span class="notes" ng-if="details.limitNotes" ng-bind-html="details.limitNotes | notes | decorate"></span>
                                    </td>
                                </tr>
                                <tr ng-if="details.potential">
                                    <td>Potential Abilties</td>
                                    <td>
                                        <!-- same potential break (differences across versions) -->
                                        <div ng-if="!isPotentialHybrid && !isPotentialStaged" ng-bind-html="details.potential | decorate"></div>
                                        <!-- different potential abilities -->
                                        <div ng-if="!isPotentialHybrid && isPotentialStaged">
                                            <div ng-repeat="stage in details.potential track by $index">
                                                <strong>Potential Ability {{$index + 1}}:</strong>
                                                 {{stage.Name}}
                                                <br>
                                                <span ng-bind-html="stage.description[0] | decorate"></span><br>
                                                <span ng-bind-html="stage.description[1] | decorate"></span><br>
                                                <span ng-bind-html="stage.description[2] | decorate"></span><br>
                                                <span ng-bind-html="stage.description[3] | decorate"></span><br>
                                                <span ng-bind-html="stage.description[4] | decorate"></span><br>
                                            </div>
                                        </div>
                                        <div ng-if="isPotentialHybrid">
                                            <span class="badge badge-japan">Japan</span>
                                            <div ng-bind-html="details.potential.japan | decorate"></div>
                                            <span class="badge badge-global">Global</span>
                                            <div ng-bind-html="details.potential.global | decorate"></div>
                                        </div>
                                        <span class="notes" ng-if="details.potentialNotes" ng-bind-html="details.potentialNotes | notes | decorate"></span>
                                    </td>
                                </tr>
                            </tbody>                     
                        </table>
                    </div>
                    <div class="panel panel-default" ng-hide="hidden.abilities" ng-if="details.support">
                        <table class="table table-striped-column abilities">
                            <!--------------    Support Abilities    -------------->
                            <!--------------    isSupportHybrid is not used since JPN and Global all match so far, leaving in for future cases    -------------->
                            <tbody>
                                <tr ng-if="details.support">
                                    <td>Support Abilities</td>
                                    <td>
                                        <!-- same potential break (differences across versions) -->
                                        <div ng-if="!isSupportHybrid && !isSupportStaged" ng-bind-html="details.support | decorate"></div>
                                        <!-- different potential abilities -->
                                        <div ng-if="!isSupportHybrid && isSupportStaged">
                                            <div ng-repeat="stage in details.support track by $index">
                                                <strong>Supported Characters:</strong>
                                                 {{stage.Characters}}
                                                <br>
                                                <span ng-bind-html="stage.description[0] | decorate"></span><br>
                                                <span ng-bind-html="stage.description[1] | decorate"></span><br>
                                                <span ng-bind-html="stage.description[2] | decorate"></span><br>
                                                <span ng-bind-html="stage.description[3] | decorate"></span><br>
                                                <span ng-bind-html="stage.description[4] | decorate"></span><br>
                                            </div>
                                        </div>
                                        <span class="notes" ng-if="details.supportNotes" ng-bind-html="details.supportNotes | notes | decorate"></span>
                                        <div ng-if="isSupportHybrid">
                                            <span class="badge badge-japan">Japan</span>
                                            <div ng-bind-html="details.potential.japan | decorate"></div>
                                            <span class="badge badge-global">Global</span>
                                            <div ng-bind-html="details.potential.global | decorate"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>                            
                        </table>
                    </div>

                    <!-- Abilities (compared unit) -->

                    <h3 class="page-header" ng-if="compare" ng-hide="hidden.abilities">Abilities (compared unit)</h3>

                    <div class="panel panel-default" ng-if="compare" ng-hide="hidden.abilities">
                        <table class="table table-striped-column abilities">
                            <tbody>
                                <tr>
                                    <td>Captain Ability</td>
                                    <td>
                                        <!-- same captain ability -->
                                        <div ng-if="!isCompareCaptainHybrid" ng-bind-html="compareDetails.captain | decorate"></div>
                                        <!-- different captain abilities -->
                                        <div ng-if="isCompareCaptainHybrid">
                                            <span class="badge badge-japan">Japan</span>
                                            <div ng-bind-html="compareDetails.captain.japan | decorate"></div>
                                            <span class="badge badge-global">Global</span>
                                            <div ng-bind-html="compareDetails.captain.global | decorate"></div>
                                        </div>
                                        <span class="notes" ng-if="compareDetails.captainNotes" ng-bind-html="compareDetails.captainNotes | notes | decorate"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sailor Ability</td>
                                    <td>
                                        <!-- same sailor ability -->
                                        <div ng-if="!isCompareSailorHybrid" ng-bind-html="compareDetails.sailor | decorate"></div>
                                        <!-- different sailor abilities -->
                                        <div ng-if="isCompareSailorHybrid">
                                            <span class="badge badge-japan">Japan</span>
                                            <div ng-bind-html="compareDetails.sailor.japan | decorate"></div>
                                            <span class="badge badge-global">Global</span>
                                            <div ng-bind-html="compareDetails.sailor.global | decorate"></div>
                                        </div>
                                        <span class="notes" ng-if="compareDetails.sailorNotes" ng-bind-html="compareDetails.sailorNotes | notes | decorate"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Special</td>
                                    <td>
                                        <strong class="specialName" ng-if="compareDetails.specialName">{{compareDetails.specialName}}</strong>
                                        <!-- same special, no stages -->
                                        <div ng-if="!isCompareSpecialHybrid && !isCompareSpecialStaged" ng-bind-html="compareDetails.special | decorate"></div>
                                        <!-- same special, with stages -->
                                        <div ng-if="!isCompareSpecialHybrid && isCompareSpecialStaged">
                                            <div ng-repeat="stage in compareDetails.special track by $index">
                                                <strong>Stage {{$index + 1}}</strong>
                                                ({{stage.cooldown.length ? stage.cooldown[0] : stage.cooldown}}{{stage.cooldown.length ? ' \u2192 ' + stage.cooldown[1] : ''}} turns):
                                                <span ng-bind-html="stage.description | decorate"></span>
                                            </div>
                                        </div>
                                        <!-- different specials -->
                                        <div ng-if="isCompareSpecialHybrid">
                                            <span class="badge badge-japan">Japan</span>
                                            <div ng-bind-html="compareDetails.special.japan | decorate"></div>
                                            <span class="badge badge-global">Global</span>
                                            <div ng-bind-html="compareDetails.special.global | decorate"></div>
                                        </div>
                                        <span class="notes" ng-if="compareDetails.specialNotes" ng-bind-html="compareDetails.specialNotes | notes | decorate"></span>
                                    </td>
                                </tr>
                                <tr ng-if="compareCooldown && !isCompareSpecialStaged">
                                    <td>Cooldown</td>
                                    <td>
                                        {{compareCooldown.length ? compareCooldown[0] : compareCooldown}} turns
                                        {{compareCooldown.length ? ' \u2192 ' + compareCooldown[1] + ' turns' : ''}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Evolutions -->

                    <h3 class="page-header" ng-if="evolution.evolution" ng-hide="hidden.evolution">Evolutions</h3>

                    <table class="table table-striped table-centered table-bordered table-textless"
                            ng-if="evolution.evolution && !evolution.evolution.length" ng-hide="hidden.evolution">
                        <tbody>
                            <tr>
                                <td><evolution unit="unit" evolvers="evolution.evolvers"
                                    evolution="evolution.evolution" size="medium"></evolution></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped table-centered table-bordered table-textless"
                            ng-if="evolution.evolution && evolution.evolution.length" ng-hide="hidden.evolution">
                        <tbody>
                            <tr ng-repeat="evolverSet in evolution.evolvers">
                                <td>
                                    <evolution unit="unit" evolvers="evolverSet" evolution="evolution.evolution[$index]"
                                        size="medium"></evolution> 
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Evolves from -->

                    <h3 class="page-header" ng-if="evolvesFrom.length > 0" ng-hide="hidden.evolutionFrom">Evolves From</h3>

                    <table class="table table-striped table-centered table-bordered table-textless"
                            ng-if="evolvesFrom.length > 0" ng-hide="hidden.evolutionFrom">
                        <tbody>
                            <tr ng-repeat="data in evolvesFrom">
                                <td>
                                    <evolution unit="unit" base="data.from" evolvers="data.via" evolution="data.to" size="medium"></evolution>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Used by -->

                    <h3 class="page-header" ng-if="sizeOf(usedBy) > 0" ng-hide="hidden.required">Evolutions Requiring This Unit</h3>

                    <table ng-if="sizeOf(usedBy) > 0" class="table table-striped table-centered table-bordered table-textless" ng-hide="hidden.required">
                        <tbody>
                            <tr ng-if="collapsed.used && sizeOf(usedBy) > 3">
                                <td><button class="btn btn-info collapse-button"
                                        ng-click="collapsed.used = false">Click to show</button></td>
                            </tr>
                            <tr ng-repeat="(base,evolutions) in usedBy" ng-if="!collapsed.used || sizeOf(usedBy) < 4">
                                <td>
                                    <div ng-repeat="id in evolutions track by $index">
                                        <evolution unit="unit" base="base" evolvers="getEvos(base,id,unit.number + 1)"
                                            evolution="id" size="medium"></evolution>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                   <!-- Same specials -->

                    <h3 class="page-header" ng-if="sizeOf(sameSpecials) > 0" ng-hide="hidden.sameSpecial">Units With the Same Special</h3>

                    <table ng-if="sizeOf(sameSpecials) > 0" class="table table-striped table-centered table-bordered table-textless" ng-hide="hidden.sameSpecial">
                        <tbody>
                            <tr>
                                <td><unit uid="id" ng-repeat="id in sameSpecials"></unit></td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Tandems -->

                    <h3 class="page-header" ng-if="tandems.length > 0">Tandems</h3>

                    <table class="table table-striped table-centered table-bordered" ng-if="tandems.length > 0">
                        <tbody>
                            <tr ng-repeat="tandem in tandems">
                                <td>
                                    <div><strong>{{tandem.name}}</strong></div>
                                    <a class="slot medium clickable" decorate-slot uid="uid" clickable="true"
                                        ui-sref="main.search.view({ id: uid, previous: getPrevious() })"
                                        ng-repeat="uid in tandem.units track by $index"></a>
                                    <div>{{tandem.desc}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Drops -->

                    <h3 class="page-header" ng-if="drops.length > 0">Drop Locations</h3>

                    <span ng-show="!collapsed.drops" class="drop-warning">
                        <strong>Note:</strong>
                        If a drop appears in almost all of the stages of a story-mode island, it is likely to be part of the
                        island's secret round. Secret rounds have an estimated 5% chance of appearing.
                    </span>

                    <table ng-if="collapsed.drops && drops.length > 3" class="table table-striped table-centered table-bordered table-textless">
                        <tbody>
                            <tr ng-if="collapsed.drops && drops.length > 3">
                                <td><button class="btn btn-info collapse-button"
                                        ng-click="collapsed.drops = false">Click to show</button></td>
                            </tr>
                        </tbody>
                    </table>

                    <table ng-if="drops.length > 0" class="table table-striped drop-table">
                        <thead ng-show="!collapsed.drops || drops.length < 4">
                            <tr>
                                <th>Location</th>
                                <th>Chapter/Difficulty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!collapsed.drops || drops.length < 4" ng-repeat="drop in drops">
                                <td>
                                    <div class="slot small" decorate-slot uid="drop.thumb"></div>
                                    <a href="{{'../drops/?'+drop.name}}" target="_blank">{{drop.name}}</a>
                                    <span ng-repeat="bonus in drop.bonuses" class="bonus {{bonus.slice(0,2)}} {{bonus.slice(3)}}"></span>
                                </td>
                                <td>{{drop.data.join(', ')}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Manuals -->

                    <h3 class="page-header" ng-if="manuals.length > 0">Manual Locations</h3>

                    <table ng-if="collapsed.manuals && manuals.length > 3" class="table table-striped table-centered table-bordered table-textless">
                        <tbody>
                            <tr ng-if="collapsed.manuals && manuals.length > 3">
                                <td><button class="btn btn-info collapse-button"
                                        ng-click="collapsed.manuals = false">Click to show</button></td>
                            </tr>
                        </tbody>
                    </table>

                    <table ng-if="manuals.length > 0" class="table table-striped drop-table">
                        <thead ng-show="!collapsed.manuals || manuals.length < 4">
                            <tr>
                                <th>Location</th>
                                <th>Stage/Difficulty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!collapsed.manuals || manuals.length < 4" ng-repeat="drop in manuals">
                                <td>
                                    <div class="slot small" decorate-slot uid="drop.thumb"></div>
                                    <a href="{{'../drops/?'+drop.name}}" target="_blank">{{drop.name}}</a>
                                </td>
                                <td>{{drop.data.join(', ')}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Family -->

                    <h3 class="page-header" ng-if="families.length > 0">Family: {{family}}</h3>

                    <table ng-if="collapsed.families && families.length > 3" class="table table-striped table-centered table-bordered table-textless">
                        <tbody>
                            <tr ng-if="collapsed.families && families.length > 3">
                                <td><button class="btn btn-info collapse-button"
                                        ng-click="collapsed.families = false">Click to show farmable versions</button></td>
                            </tr>
                        </tbody>
                    </table>

                    <table ng-if="families.length > 0" class="table table-striped drop-table">
                        <thead ng-show="!collapsed.families || families.length < 4">
                            <tr>
                                <th>Variant</th>
                                <th>Farm Location</th>
                                <th>Chapter/Difficulty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!collapsed.families || families.length < 4" ng-repeat="data in families">
                                <td>
                                    <div class="slot small" decorate-slot uid="data.uid"></div>
                                    <a ui-sref="main.search.view({ id: data.uid, previous: getPrevious() })">{{data.name}}</a>
                                </td>
                                <td><a href="{{'../drops/?'+data.location.name}}" target="_blank">{{data.location.name}}</a></td>
                                <td>{{data.location.data.join(', ')}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <!-- Other Names -->
                    
                    <h3 class="page-header">Other Names</h3>
                    
                    <add-names></add-names>

                    <!-- Tags -->

                    <h3 class="page-header">Tags</h3>
                    
                    <add-tags></add-tags>

                    <!-- Links -->

                    <br/>
                    <h3 class="page-header">Links</h3>
                    
                    <add-links></add-links>

                    <!-- Data gathering -->

                    <div ng-if="!unit.incomplete && unit.growth.atk === 0" class="alert alert-success"><i class="fa fa-star"></i> Have this unit? Please take a look at <a href="../damage/#/gather">this</a>.</div>

                </div>

            </div>
        </div>

    </div>

</div>
