<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div class="modal-dialog">
            <div class="modal-content animated rollIn">

                <div class="modal-header">
                    <div class="fa fa-arrow-left btn btn-default back-button" ng-if="withButton" ng-click="onBackClick()"></div>    
                    {{unit.name}}
                </div>

                <div class="modal-body" ng-class="{ preview: unit.preview }">

                    <div ng-if="!unit.incomplete" class="slot huge" decorate-slot big="true" uid="unit.number + 1"></div>

                    <div ng-if="unit.preview" class="alert alert-warning">
                        <b>WARNING:</b> Currently viewing the preview of an upcoming unit not yet released, the information provided may not be accurate.
                    </div>

                    <div ng-if="unit.incomplete && !unit.preview" class="alert alert-danger">
                        This unit's complete information is still partially missing and will soon be added.
                    </div>

                    <h3 class="page-header">
                        Details
                        <i ng-if="compare" ng-click="clearComparison()" class="fa fa-times pull-right" id="compare-clear" title="clear"></i>
                        <input compare type="text" id="compare" class="pull-right" placeholder="Compare with..."></input>
                        <label class="pull-right">
                            <input type="checkbox" ng-model="characterLog[id]" ng-change="checkLog()"></input>
                            In Character Log
                        </label>
                    </h3>

                    <div class="panel panel-default stats-pane">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th ng-if="!hybrid">Class</th>
                                    <th ng-if="hybrid">Class 1</th>
                                    <th ng-if="hybrid">Class 2</th>
                                    <th>Type</th>
                                    <th>Stars</th>
                                    <th>Cost</th>
                                </tr>
                                <tr>
                                    <td ng-if="!hybrid">{{unit.class}}</td>
                                    <td ng-if="hybrid">{{unit.class[0]}}</td>
                                    <td ng-if="hybrid">{{unit.class[1]}}</td>
                                    <td>{{unit.type}}</td>
                                    <td ng-if="!compare">{{unit.stars}}</td>
                                    <td ng-if="compare" comparison="positive">{{unit.stars - compare.stars}}</td>
                                    <td ng-if="!compare">{{unit.cost}}</td>
                                    <td ng-if="compare" comparison="negative">{{unit.cost - compare.cost}}</td>
                                </tr>
                                <tr>
                                    <th>Combo</th>
                                    <th>Slots</th>
                                    <th>Max Level</th>
                                    <th colspan="{{hybrid ? 2 : 1}}">EXP to Max</th>
                                </tr>
                                <tr>
                                    <td ng-if="!compare">{{unit.combo}}</td>
                                    <td ng-if="compare" comparison="negative">{{unit.combo - compare.combo}}</td>
                                    <td ng-if="!compare">{{unit.preview ? '' : unit.slots}}</td>
                                    <td ng-if="compare" comparison="positive">{{unit.slots - compare.slots}}</td>
                                    <td>{{unit.maxLevel}}</td>
                                    <td ng-if="!compare" colspan="{{hybrid ? 2 : 1}}">{{unit.maxEXP | number}}</td>
                                    <td ng-if="compare" colspan="{{hybrid ? 2 : 1}}" comparison="negative">{{unit.maxEXP - compare.maxEXP | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h3 class="page-header">Stats</h3>

                    <uib-tabset>
                        <uib-tab heading="Stats">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Level</th>
                                        <th>HP</th>
                                        <th>ATK</th>
                                        <th>RCV</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td ng-if="!compare">{{unit.minHP | number}}</td>
                                        <td ng-if="compare" comparison="positive">{{unit.minHP - compare.minHP | number}}</td>
                                        <td ng-if="!compare">{{unit.minATK | number}}</td>
                                        <td ng-if="compare" comparison="positive">{{unit.minATK - compare.minATK | number}}</td>
                                        <td ng-if="!compare">{{unit.minRCV | number}}</td>
                                        <td ng-if="compare" comparison="positive">{{unit.minRCV - compare.minRCV | number}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{unit.maxLevel}}</td>
                                        <td ng-if="!compare">{{unit.maxHP | number}}</td>
                                        <td ng-if="compare" comparison="positive">{{unit.maxHP - compare.maxHP | number}}</td>
                                        <td ng-if="!compare">{{unit.maxATK | number}}</td>
                                        <td ng-if="compare" comparison="positive">{{unit.maxATK - compare.maxATK | number}}</td>
                                        <td ng-if="!compare">{{unit.maxRCV | number}}</td>
                                        <td ng-if="compare" comparison="positive">{{unit.maxRCV - compare.maxRCV | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-tab>
                        <uib-tab heading="Chart" ng-if="!unit.incomplete">
                            <canvas id="radar-chart" class="chart chart-radar" chart-data="radar.data"
                                chart-labels="radar.labels" chart-options="radar.options"></canvas>
                        </uib-tab>
                    </uib-tabset>

                    <!-- Abilities (non-comparison) -->

                    <h3 class="page-header">Abilities</h3>

                    <div class="panel panel-default">
                        <table class="table table-striped-column abilities">
                            <tbody>
                                <tr>
                                    <td>Captain Ability</td>
                                    <td>
                                        <div ng-bind-html="details.captain | decorate"></div>
                                        <span class="notes" ng-if="details.captainNotes" ng-bind-html="details.captainNotes | decorate"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Special</td>
                                    <td>
                                        <strong class="specialName" ng-if="details.specialName">{{details.specialName}}</strong>
                                        <!-- same special -->
                                        <div ng-if="!isSpecialArray" ng-bind-html="details.special | decorate"></div>
                                        <!-- different specials -->
                                        <div ng-if="isSpecialArray">
                                            <span class="badge badge-japan">Japan</span>
                                            <div ng-bind-html="details.special[0] | decorate"></div>
                                            <span class="badge badge-global">Global</span>
                                            <div ng-bind-html="details.special[1] | decorate"></div>
                                        </div>
                                        <span class="notes" ng-if="details.specialNotes" ng-bind-html="details.specialNotes | decorate"></span>
                                    </td>
                                </tr>
                                <tr ng-if="cooldown">
                                    <td>Cooldown</td>
                                    <td>
                                        {{cooldown.length ? cooldown[0] : cooldown}} turns
                                        {{cooldown.length ? ' (maxed: ' + cooldown[1] + ' turns)' : ''}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Abilities (compared unit) -->

                    <h3 class="page-header" ng-if="compare">Abilities (compared unit)</h3>

                    <div class="panel panel-default" ng-if="compare">
                        <table class="table table-striped-column abilities">
                            <tbody>
                                <tr>
                                    <td>Captain Ability</td>
                                    <td>
                                        <div ng-bind-html="compareDetails.captain | decorate"></div>
                                        <span class="notes" ng-if="compareDetails.captainNotes" ng-bind-html="compareDetails.captainNotes | decorate"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Special</td>
                                    <td>
                                        <strong class="specialName" ng-if="compareDetails.specialName">{{compareDetails.specialName}}</strong>
                                        <!-- same special -->
                                        <div ng-if="!isCompareSpecialArray" ng-bind-html="compareDetails.special | decorate"></div>
                                        <!-- different specials -->
                                        <div ng-if="isCompareSpecialArray">
                                            <span class="badge badge-japan">Japan</span>
                                            <div ng-bind-html="compareDetails.special[0] | decorate"></div>
                                            <span class="badge badge-global">Global</span>
                                            <div ng-bind-html="compareDetails.special[1] | decorate"></div>
                                        </div>
                                        <span class="notes" ng-if="compareDetails.specialNotes" ng-bind-html="compareDetails.specialNotes | decorate"></span>
                                    </td>
                                </tr>
                                <tr ng-if="compareCooldown">
                                    <td>Cooldown</td>
                                    <td>
                                        {{compareCooldown.length ? compareCooldown[0] : compareCooldown}} turns
                                        {{compareCooldown.length ? ' (maxed: ' + compareCooldown[1] + ' turns)' : ''}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Evolutions -->

                    <h3 class="page-header" ng-if="evolution.evolution">Evolutions</h3>

                    <table class="table table-striped table-centered table-bordered table-textless" ng-if="evolution.evolution && !evolution.evolution.length">
                        <tbody>
                            <tr>
                                <td><evolution unit="unit" evolvers="evolution.evolvers"
                                    evolution="evolution.evolution" size="medium"></evolution></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped table-centered table-bordered table-textless" ng-if="evolution.evolution && evolution.evolution.length">
                        <tbody>
                            <tr ng-repeat="evolverSet in evolution.evolvers">
                                <td>
                                    <evolution unit="unit" evolvers="evolverSet" evolution="evolution.evolution[$index]"
                                        size="medium"></evolution> 
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Evolves from -->

                    <h3 class="page-header" ng-if="evolvesFrom.length > 0">Evolves From</h3>

                    <table class="table table-striped table-centered table-bordered table-textless" ng-if="evolvesFrom.length > 0">
                        <tbody>
                            <tr ng-repeat="data in evolvesFrom">
                                <td>
                                    <evolution unit="unit" base="data.from" evolvers="data.via" evolution="data.to" size="medium"></evolution>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Used by -->

                    <h3 class="page-header" ng-if="sizeOf(usedBy) > 0">Evolutions Requiring This Unit</h3>

                    <table ng-if="sizeOf(usedBy) > 0" class="table table-striped table-centered table-bordered table-textless">
                        <tbody>
                            <tr ng-if="collapsed.used && sizeOf(usedBy) > 3">
                                <td><button class="btn btn-info collapse-button"
                                        ng-click="collapsed.used = false">Click to show</button></td>
                            </tr>
                            <tr ng-repeat="(base,evolutions) in usedBy" ng-if="!collapsed.used || sizeOf(usedBy) < 4">
                                <td>
                                    <div ng-repeat="id in evolutions track by $index">
                                        <evolution unit="unit" base="base" evolvers="getEvos(base,id,unit.number + 1)"
                                            evolution="id" size="medium"></evolution>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                   <!-- Same specials -->

                    <h3 class="page-header" ng-if="sizeOf(sameSpecials) > 0">Units With the Same Special</h3>

                    <table ng-if="sizeOf(sameSpecials) > 0" class="table table-striped table-centered table-bordered table-textless">
                        <tbody>
                            <tr>
                                <td><unit uid="id" ng-repeat="id in sameSpecials"></unit></td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Tandems -->

                    <h3 class="page-header" ng-if="tandems.length > 0">Tandems</h3>

                    <table class="table table-striped table-centered table-bordered" ng-if="tandems.length > 0">
                        <tbody>
                            <tr ng-repeat="tandem in tandems">
                                <td>
                                    <div><strong>{{tandem.name}}</strong></div>
                                    <a class="slot medium clickable" decorate-slot uid="uid" clickable="true"
                                        ui-sref="main.search.view({ id: uid, previous: getPrevious() })"
                                        ng-repeat="uid in tandem.units track by $index"></a>
                                    <div>{{tandem.desc}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Drops -->

                    <h3 class="page-header" ng-if="drops.length > 0">Drop Locations</h3>

                    <span ng-show="!collapsed.drops" class="drop-warning">
                        <strong>Note:</strong>
                        If a drop appears in almost all of the stages of a story-mode island, it is likely to be part of the
                        island's secret round. Secret rounds have an estimated 5% chance of appearing.
                    </span>

                    <table ng-if="collapsed.drops && drops.length > 3" class="table table-striped table-centered table-bordered table-textless">
                        <tbody>
                            <tr ng-if="collapsed.drops && drops.length > 3">
                                <td><button class="btn btn-info collapse-button"
                                        ng-click="collapsed.drops = false">Click to show</button></td>
                            </tr>
                        </tbody>
                    </table>

                    <table ng-if="drops.length > 0" class="table table-striped drop-table">
                        <thead ng-show="!collapsed.drops || drops.length < 4">
                            <tr>
                                <th>Location</th>
                                <th>Chapter/Difficulty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!collapsed.drops || drops.length < 4" ng-repeat="drop in drops">
                                <td>
                                    <div class="slot small" decorate-slot uid="drop.thumb"></div>
                                    {{drop.name}}
                                    <span ng-repeat="bonus in drop.bonuses" class="bonus {{bonus.slice(0,2)}} {{bonus.slice(3)}}"></span>
                                </td>
                                <td>{{drop.data.join(', ')}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Manuals -->

                    <h3 class="page-header" ng-if="manuals.length > 0">Manual Locations</h3>

                    <table ng-if="collapsed.manuals && manuals.length > 3" class="table table-striped table-centered table-bordered table-textless">
                        <tbody>
                            <tr ng-if="collapsed.manuals && manuals.length > 3">
                                <td><button class="btn btn-info collapse-button"
                                        ng-click="collapsed.manuals = false">Click to show</button></td>
                            </tr>
                        </tbody>
                    </table>

                    <table ng-if="manuals.length > 0" class="table table-striped drop-table">
                        <thead ng-show="!collapsed.manuals || manuals.length < 4">
                            <tr>
                                <th>Location</th>
                                <th>Stage/Difficulty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!collapsed.manuals || manuals.length < 4" ng-repeat="drop in manuals">
                                <td>
                                    <div class="slot small" decorate-slot uid="drop.thumb"></div>
                                    {{drop.name}}
                                </td>
                                <td>{{drop.data.join(', ')}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Tags -->

                    <h3 class="page-header">Tags</h3>
                    
                    <add-tags></add-tags>

                    <!-- Links -->

                    <br/>
                    <h3 class="page-header">Links</h3>
                    
                    <add-links></add-links>

                    <!-- Data gathering -->

                    <div ng-if="!unit.incomplete && unit.growth.atk === 0" class="alert alert-success"><i class="fa fa-star"></i> Have this unit? Please take a look at <a href="../damage/#/gather">this</a>.</div>

                </div>

            </div>
        </div>

    </div>

</div>
