<div class="backdrop" ui-sref="^"></div>

<div class="custom-modal">
    <div class="modal-dialog">
        <div class="modal-content animated fadeInDown">

            <div class="modal-header">
                <div class="fa fa-arrow-left btn btn-default back-button" ng-if="withButton" ng-click="onBackClick()"></div>    
                {{unit.name}}
            </div>

            <div class="modal-body">

                <div ng-if="!unit.incomplete" class="slot huge" decorate-slot big="true" uid="unit.number"></div>

                <h3 class="page-header">Details</h3>

                <div class="panel panel-default">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th ng-if="!hybrid">Class</th>
                                <th ng-if="hybrid">Class 1</th>
                                <th ng-if="hybrid">Class 2</th>
                                <th>Type</th>
                                <th>Stars</th>
                                <th>Cost</th>
                                <th>Combo</th>
                                <th>Max Level</th>
                                <th>EXP to Max</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-if="!hybrid">{{unit.class}}</td>
                                <td ng-if="hybrid">{{unit.class[0]}}</td>
                                <td ng-if="hybrid">{{unit.class[1]}}</td>
                                <td>{{unit.type}}</td>
                                <td>{{unit.stars}}</td>
                                <td>{{unit.cost}}</td>
                                <td>{{unit.combo}}</td>
                                <td>{{unit.maxLevel}}</td>
                                <td>{{unit.maxEXP | number}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h3 class="page-header">Stats</h3>

                <div class="panel panel-default">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Level</th>
                                <th>HP</th>
                                <th>ATK</th>
                                <th>RCV</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>{{unit.minHP}}</td>
                                <td>{{unit.minATK}}</td>
                                <td>{{unit.minRCV}}</td>
                            </tr>
                            <tr>
                                <td>{{unit.maxLevel}}</td>
                                <td>{{unit.maxHP}}</td>
                                <td>{{unit.maxATK}}</td>
                                <td>{{unit.maxRCV}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h3 class="page-header">Abilities</h3>

                <div class="panel panel-default">
                    <table class="table table-striped-column">
                        <tbody>
                            <tr>
                                <td>Captain Ability</td>
                                <td>
                                    <div ng-bind-html="details.captain | decorate"></div>
                                    <span class="notes" ng-if="details.captainNotes" ng-bind-html="details.captainNotes | decorate"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Special</td>
                                <td>
                                    <div ng-bind-html="details.special | decorate"></div>
                                    <span class="notes" ng-if="details.specialNotes" ng-bind-html="details.specialNotes | decorate"></span>
                                </td>
                            </tr>
                            <tr ng-if="details.cooldown">
                                <td>Cooldown</td>
                                <td>
                                    {{details.cooldown.length ? details.cooldown[0] : details.cooldown}} turns
                                    {{details.cooldown.length ? ' (maxed: ' + details.cooldown[1] + ' turns)' : ''}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Evolutions -->

                <h3 class="page-header" ng-if="details.evolution">Evolutions</h3>

                <div ng-if="details.evolution && !details.evolution.length">
                    <evolution unit="unit" evolvers="details.evolvers" evolution="details.evolution" size="medium"></evolution>
                </div>

                <div ng-if="details.evolution && details.evolution.length">
                    <div class="panel panel-default" ng-repeat="evolverSet in details.evolvers">
                       <evolution unit="unit" evolvers="evolverSet" evolution="details.evolution[$index]" size="medium"></evolution> 
                    </div>
                </div>

                <!-- Evolves from -->

                <h3 class="page-header" ng-if="evolvesFrom.length > 0">Evolves From</h3>

                <div ng-if="evolvesFrom.length >0">
                    <div class="panel panel-default" ng-repeat="tree in evolvesFrom">
                        <div ng-repeat="id in tree">
                            <evolution unit="unit" base="id" evolvers="getEvos(id,tree[$index+1] || unit.number+1)"
                                evolution="tree[$index+1] || unit.number + 1" size="medium"></evolution>
                        </div>
                    </div>

                </div>

                <!-- Used by -->

                <h3 class="page-header" ng-if="sizeOf(usedBy) > 0">Evolutions Requiring This Unit</h3>

                <div ng-if="sizeOf(usedBy) > 0" ng-class="{ collapsed: collapsed.used && sizeOf(usedBy) > 3 }">
                    <div class="btn btn-info collapse-button" ng-click="collapsed.used = false">Click to show</div>
                    <div class="panel panel-default" ng-repeat="(base,evolutions) in usedBy">
                        <div ng-repeat="id in evolutions">
                            <evolution unit="unit" base="base" evolvers="getEvos(base,id,unit.number + 1)"
                                evolution="id" size="medium"></evolution>
                        </div>
                    </div>
                </div>

                <!-- Drops -->

                <h3 class="page-header" ng-if="drops.length > 0">Drop Locations</h3>

                <div ng-if="drops.length > 0" ng-class="{ collapsed: collapsed.drops && drops.length > 3 }">
                    <div class="btn btn-info collapse-button" ng-click="collapsed.drops = false">Click to show</div>
                    <table class="table table-striped drop-table">
                        <thead>
                            <th>Location</th>
                            <th>Stage/Difficulty</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="drop in drops">
                                <td>
                                    <div class="slot small" decorate-slot uid="drop.thumb"></div>
                                    {{drop.name}}
                                    <span ng-if="drop.bonus" class="bonus {{drop.bonus}}"></span>
                                </td>
                                <td>{{drop.data.join(', ')}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Manuals -->

                <h3 class="page-header" ng-if="manuals.length > 0">Manual Locations</h3>

                <div ng-if="manuals.length > 0" ng-class="{ collapsed: collapsed.manuals && manuals.length > 3 }">
                    <div class="btn btn-info collapse-button" ng-click="collapsed.manuals = false">Click to show</div>
                    <table class="table table-striped drop-table">
                        <thead>
                            <th>Location</th>
                            <th>Stage/Difficulty</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="drop in manuals">
                                <td>
                                    <div class="slot small" decorate-slot uid="drop.thumb"></div>
                                    {{drop.name}}
                                </td>
                                <td>{{drop.data.join(', ')}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</div>
