<div id="clear-button" class="filter-header" ng-click="clearFilters()">Clear filters</div>

<div class="filter-container">
    <span class="filter-header">Type filters</span>
    <span ng-model="filters.type" ng-repeat="(n,type) in [ 'STR', 'QCK', 'DEX', 'PSY', 'INT' ]"
        class="filter {{n < 3 ? 'width-4' : 'width-6'}} type {{type}}" ng-class="{ active: filters.type == type }"
        ng-click="onFilterClick($event,type)">{{type}}</span>
</div>

<div class="filter-container">
    <span class="filter-header">Class filters</span>
    <span ng-repeat="(n,class) in [ 'Fighter', 'Shooter', 'Slasher', 'Striker', 'Free Spirit', 'Cerebral', 'Powerhouse', 'Driven', 'Evolver', 'Booster' ]"
        class="filter width-6 class" ng-click="onClassClick($event,class)"
        ng-class="{ active: filters.classes.indexOf(class) > -1 }">{{class}}</span>
</div>


<div class="filter-container">
    <span class="filter-header">Rarity filters</span>
    <span ng-repeat="(n,stars) in [ 1, 2, 3, 4, 5, 6 ]" class="filter stars width-4 stars-{{stars}}"
        ng-click="onStarsClick($event,stars)" ng-class="{ active: filters.stars.indexOf(stars) > -1 }"></span>
    <span ng-repeat="(n,stars) in [ 5, 6 ]" class="filter stars width-6 stars-{{stars}}+"
        ng-click="onStarsClick($event,stars + '+')" ng-class="{ active: filters.stars.indexOf(stars + '+') > -1 }"></span>
</div>

<div class="filter-container expandable" id="cost-container"
        ng-class="{ expanded: filters.costEnabled }">
    <span class="filter-header" ng-click="filters.costEnabled = !filters.costEnabled">
        Cost filter
        <i class="pull-right fa fa-{{costExpanded ? 'chevron-up' : 'chevron-down'}}"></i>
    </span>
    <input type="text" id="cost-slider" name="cost-slider" value="" cost-slider></input>
</div>

<div class="filter-container">
    <span class="filter-header">Drop filters</span>
    <span ng-repeat="type in [ 'Farmable', 'Non-farmable' ]" class="filter width-6 drop" ng-model="filters.drop"
        ng-class="{ active: filters.drop == type }" ng-click="onFilterClick($event,type)">{{type}}</span>
    <span ng-repeat="type in [ 'Global units', 'Japan exclusives' ]" class="filter width-6 drop" ng-model="filters.server"
        ng-class="{ active: filters.server == type }" ng-click="onFilterClick($event,type)">{{type}}</span>
    <span ng-repeat="type in [ 'In RR pool', 'Not in RR pool' ]" class="filter width-6 drop" ng-model="filters.rr"
        ng-class="{ active: filters.rr == type }" ng-click="onFilterClick($event,type)">{{type}}</span>
    <span ng-repeat="type in [ 'Farmable Sockets', 'No Farmable Sockets' ]" class="filter width-6 drop" ng-model="filters.socket"
        ng-class="{ active: filters.socket == type }" ng-click="onFilterClick($event,type)">{{type}}</span>
</div>

<div class="filter-container conditional" ng-show="filters.drop == 'Farmable'">
    <span class="filter-header">Farmable filters</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.farmable.story }"
        ng-model="filters.farmable.story" ng-click="onDropFilterClick($event,true)">Story-only</span><!--
 --><span class="filter width-6 exc" ng-class="{ active: filters.farmable.story === false }"
        ng-model="filters.farmable.story" ng-click="onDropFilterClick($event,false)">Hide story-only</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.farmable.fortnight }"
        ng-model="filters.farmable.fortnight" ng-click="onDropFilterClick($event,true)">Fortnight-only</span><!--
 --><span class="filter width-6 exc" ng-class="{ active: filters.farmable.fortnight === false }"
        ng-model="filters.farmable.fortnight" ng-click="onDropFilterClick($event,false)">Hide fortnight-only</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.farmable.raid }"
        ng-model="filters.farmable.raid" ng-click="onDropFilterClick($event,true)">Raid-only</span><!--
 --><span class="filter width-6 exc"  ng-class="{ active: filters.farmable.raid === false }"
        ng-model="filters.farmable.raid" ng-click="onDropFilterClick($event,false)">Hide raid-only</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.farmable.Coliseum }"
        ng-model="filters.farmable.Coliseum" ng-click="onDropFilterClick($event,true)">Coliseum-only</span><!--
 --><span class="filter width-6 exc"  ng-class="{ active: filters.farmable.Coliseum === false }"
        ng-model="filters.farmable.Coliseum" ng-click="onDropFilterClick($event,false)">Hide Clssm-only</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.farmable.Treasure }"
        ng-model="filters.farmable.Treasure" ng-click="onDropFilterClick($event,true)">Treasure Map-only</span><!--
 --><span class="filter width-6 exc"  ng-class="{ active: filters.farmable.Treasure === false }"
        ng-model="filters.farmable.Treasure" ng-click="onDropFilterClick($event,false)">Hide TreasMap-only</span>
</div>

<div class="filter-container conditional" ng-show="filters.drop == 'Non-farmable'">
    <span class="filter-header">Non-farmable filters</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.lrr }"
        ng-model="filters.nonFarmable.lrr" ng-click="onDropFilterClick($event,true)">Limited RR-only</span><!--
 --><span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.lrr === false }"
        ng-model="filters.nonFarmable.lrr" ng-click="onDropFilterClick($event,false)">Hide lim. RR-only</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.tmlrr }"
        ng-model="filters.nonFarmable.tmlrr" ng-click="onDropFilterClick($event,true)">TM Limited RR-only</span><!--
 --><span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.tmlrr === false }"
        ng-model="filters.nonFarmable.tmlrr" ng-click="onDropFilterClick($event,false)">Hide TM lim. RR-only</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.promo }"
        ng-model="filters.nonFarmable.promo" ng-click="onDropFilterClick($event,true)">Promo-only</span><!--
 --><span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.promo === false }"
        ng-model="filters.nonFarmable.promo" ng-click="onDropFilterClick($event,false)">Hide promo-only</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.special }"
        ng-model="filters.nonFarmable.special" ng-click="onDropFilterClick($event,true)">Special-only</span><!--
 --><span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.special === false }"
        ng-model="filters.nonFarmable.special" ng-click="onDropFilterClick($event,false)">Hide special-only</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.shop }"
        ng-model="filters.nonFarmable.shop" ng-click="onDropFilterClick($event,true)">Ray Shop Unit</span><!--
 --><span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.shop === false }"
        ng-model="filters.nonFarmable.shop" ng-click="onDropFilterClick($event,false)">Hide Ray Shop Unit</span>
</div>

<div class="filter-container">
    <span class="filter-header">Exclusion filters</span>
    <span class="filter width-6 exc" ng-model="filters.noBase" ng-class="{ active: filters.noBase }"
        ng-click="filters.noBase = !filters.noBase">Hide base forms</span><!--
 --><span class="filter width-6 exc" ng-model="filters.noFodder" ng-class="{ active: filters.noFodder }"
        ng-click="filters.noFodder = !filters.noFodder">Hide fodder</span>
    <span class="filter width-12 exc" ng-model="filters.noEvos" ng-class="{ active: filters.noEvos }"
        ng-click="filters.noEvos = !filters.noEvos">Hide Boosters and Evolvers</span>
</div>

<div class="filter-container">
    <span class="filter-header">Treasure Map Boosters filters</span>
    <span class="filter width-6 exc" ng-model="filters.globalTM" ng-class="{ active: filters.globalTM }"
        ng-click="filters.globalTM = !filters.globalTM">Show Global TM Boosters [Big Mom]</span><!--
 --><span class="filter width-6 exc" ng-model="filters.japanTM" ng-class="{ active: filters.japanTM }"
        ng-click="filters.japanTM = !filters.japanTM">Show Japan TM Boosters [Kaido]</span>
</div>

<div class="filter-container">
    <span class="filter-header">Specific Captain filters</span>
    <span class="filter width-6 exc" ng-model="filters.katakuri" ng-class="{ active: filters.katakuri }"
        ng-click="filters.katakuri = !filters.katakuri">Show Double Boosted Katakuri Units</span><!--
 --><span class="filter width-6 exc" ng-model="filters.katakuriv2" ng-class="{ active: filters.katakuriv2 }"
        ng-click="filters.katakuriv2 = !filters.katakuriv2">Show Double Boosted Katakuri V2 Units</span><!--
 --><span class="filter width-6 exc" ng-model="filters.TMlaw" ng-class="{ active: filters.TMlaw }"
        ng-click="filters.TMlaw = !filters.TMlaw">Show Double Boosted TM Law Units</span><!--
 --><span class="filter width-6 exc" ng-model="filters.sulongCarrot" ng-class="{ active: filters.sulongCarrot }"
        ng-click="filters.sulongCarrot = !filters.sulongCarrot">Show Double Boosted Sulong Carrot Units</span><!--
 -->
</div>

<!--div class="filter-container">
    <span class="filter width-12 exc" ng-model="filters.worldClash" ng-class="{ active: filters.worldClash }"
        ng-click="filters.worldClash = !filters.worldClash">Show World Clash Boosters</span>
</div-->
<div class="filter-container">
    <span class="filter-header">Temporary Filters</span>
    <span class="filter width-12 exc" ng-model="filters.doffyBlitz" ng-class="{ active: filters.doffyBlitz }"
        ng-click="filters.doffyBlitz = !filters.doffyBlitz">Show 3.375x Doflamingo Blitz Battle Boosters</span>
</div>

<!--div class="filter-container">
    <span class="filter-header">Dev. filters</span>
    <span class="filter width-12 exc" ng-model="filters.noLB" ng-class="{ active: filters.noLB }"
        ng-click="filters.noLB = !filters.noLB">Show Characters with no limit break</span>
</div-->

<div class="filter-container">
    <span class="filter-header">Captain ability filters</span>
    <span class="filter width-12 custom" ng-repeat="(n,filter) in filterData" ng-if="filter.target == 'captain'"
        ng-model="filters.custom[n]" ng-class="{ active: filters.custom[n] }" add-captain-options
        ng-click="filters.custom[n] = !filters.custom[n]">{{filter.name}}</span>
</div>

<div class="filter-container">
    <span class="filter-header">Special filters</span>
    <span class="filter width-12 custom" ng-repeat="(n,filter) in filterData" ng-if="filter.target.indexOf('special') == 0"
        ng-model="filters.custom[n]" ng-class="{ active: filters.custom[n] }" add-orb-options add-special-options
        ng-click="filters.custom[n] = !filters.custom[n]">{{filter.name}}</span>
</div>

<div class="filter-container">
    <span class="filter-header">Sailor ability filters</span>
    <span class="filter width-12 custom" ng-repeat="(n,filter) in filterData" ng-if="filter.target.indexOf('sailor') == 0"
        ng-model="filters.custom[n]" ng-class="{ active: filters.custom[n] }" add-sailor-options
        ng-click="filters.custom[n] = !filters.custom[n]">{{filter.name}}</span>
</div>

<div class="filter-container">
    <span class="filter-header">Limit Break filters</span>
    <span class="filter width-12 custom" ng-repeat="(n,filter) in filterData" ng-if="filter.target.indexOf('limit') == 0"
        ng-model="filters.custom[n]" ng-class="{ active: filters.custom[n] }"
        ng-click="filters.custom[n] = !filters.custom[n]">{{filter.name}}</span>
</div>

<div class="filter-container">
    <span class="filter-header">Support filters</span>
    <span class="filter width-12 custom" ng-repeat="(n,filter) in filterData" ng-if="filter.target.indexOf('support') == 0"
        ng-model="filters.custom[n]" ng-class="{ active: filters.custom[n] }"
        ng-click="filters.custom[n] = !filters.custom[n]">{{filter.name}}</span>
</div>

<div class="filter-container" ng-if="showLogFilters">
    <span class="filter-header">Character Log filters</span>
    <span class="filter width-12 custom" ng-model="filters.noLog" ng-class="{ active: filters.noLog }"
        ng-click="filters.noLog = !filters.noLog">Hide units in Character Log</span>
    <span class="filter width-12 custom" ng-model="filters.noMissing" ng-class="{ active: filters.noMissing }"
        ng-click="filters.noMissing = !filters.noMissing">Hide units not in Character Log</span>
</div>