<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">Image Export</div>

                <div class="modal-body">

                    <div id="canvasContainer">
                        <canvas id="canvas" width="420" height="600"></canvas>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" ui-sref="^">Go Back</button> 
                </div>

            </div>
        </div>
    </div>

</div>
