body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #2a8fc3 url('../img/bg.jpg');
    background-size: cover;
    height: 100%;
}

div.gag-animation {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    pointer-events: none;

    -webkit-animation: moveIn 10s;
    animation: moveIn 10s;
}

div.rain-box {
    position: absolute;
    left: 0px;
    width: 112px;
    height: 112px;
    line-height: 34px;
    font-size: 25px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4c6b22 !important;
    pointer-events: none;
    color: #ffffff;
    will-change: top, opacity;
}

div.rain-box:not(.disabled):not(.boss) {
    -webkit-animation: rain infinite 3s;
    animation: rain infinite 3s;
}

div.rain-box.boss:not(.disabled) {
    -webkit-animation: boss infinite 19s;
    animation: boss infinite 19s;
    z-index: 11;
}

div.rain-box.disabled {
    display: none !important;
}

.boss {
    position: relative;
}

.boss > :first-child {
    position: absolute;
    top: 0px;
    height: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
}

/******************************
 *          SUNBURST          *
 ******************************/

.gag > .sunburst {
    position: absolute;
    z-index: -1;
    bottom: -50%;
    right: -50%;
}

.boss > .sunburst {
    position: absolute;
    top: -440px;
    left: -440px;
}

.sunburst .outer {
    width: 2000px;
    height: 910px;
    padding-top: 1090px;
    -webkit-animation: rotate_sunburst 2s infinite linear;
    animation: rotate_sunburst 2s infinite linear;
    will-change: transform;
}

.sunburst b {
    display: block;
    width: 0;
    height: 0;
    border-width: 90px 1000px;
    margin: -180px 0 0 0;
    border-color: transparent rgba(255, 204, 0, 0.35);
    border-style: solid;
}

.boss > .sunburst .outer {
    width: 1000px !important;
    height: 455px !important;
    padding-top: 545px !important;
}

.boss > .sunburst b {
    border-width: 45px 500px !important;
    margin: -90px 0 0 0 !important;
    border-color: transparent rgba(255, 0, 204, 0.3) !important;
}

.sunburst b:nth-child(1) { 
    transform:rotate(20deg);
}

.sunburst b:nth-child(2) { 
    transform:rotate(40deg);
}

.sunburst b:nth-child(3) { 
    transform:rotate(60deg);
}

.sunburst b:nth-child(4) { 
    transform:rotate(80deg);
}

.sunburst b:nth-child(5) { 
    transform:rotate(100deg);
}

.sunburst b:nth-child(6) {    
    transform:rotate(120deg);
}

.sunburst b:nth-child(7) { 
    transform:rotate(140deg);
}

.sunburst b:nth-child(8) { 
    transform:rotate(160deg);
}

.sunburst b:nth-child(9) { 
    transform:rotate(180deg);
}

/******************************
 * FOREGROUND IMAGE ANIMATION *
 ******************************/

@-webkit-keyframes moveIn {
    0% {
        -webkit-transform: scale(0.2,0.2);
        bottom: -785px;
    }
    100% {
        -webkit-transform: scale(1,1);
        bottom: 0px;
    }

}

@keyframes moveIn {
    0% {
        transform: scale(0.2,0.2);
        bottom: -785px;
    }
    100% {
        transform: scale(1,1);
        bottom: 0px;
    }
}

/******************************
 *       RAIN ANIMATION       *
 ******************************/

@-webkit-keyframes rain {
    0% {
        opacity: 1;
        top: -112px;
    }
    70% { opacity: 0.7; }
    80% { opacity: 0.1; }
    100% {
        opacity: 0;
        top: 100%;
    }
} 

@keyframes rain {
    0% {
        opacity: 1;
        top: -112px;
    }
    70% { opacity: 0.7; }
    80% { opacity: 0.1; }
    100% {
        opacity: 0;
        top: 100%;
    }
}

/******************************
 *       BOSS ANIMATION       *
 ******************************/

@-webkit-keyframes boss {
    0% { top: -112px; }
    30% { top: 45%; }
    100% { top: 45%; }
} 

@keyframes boss {
    0% { top: -112px; }
    30% { top: 45%; }
    100% { top: 45%; }
}

/******************************
 *     SUNBURST ANIMATION     *
 ******************************/

@-webkit-keyframes rotate_sunburst {
    from { -webkit-transform: rotate(0deg); }
    to   { -webkit-transform: rotate(20deg); }
}

@keyframes rotate_sunburst {
    from { transform: rotate(0deg); }
    to   { transform: rotate(20deg); }
}
