<div class="menu" id="links-button">

    <div class="btn trigger">
        <i class="fa fa-star fa-spin"></i>
    </div>

    <div class="icons">

        <div class="rotater" id="link-report" title="Bug report">
            <a class="btn btn-icon" target="_blank"
                    href="https://docs.google.com/forms/d/1jSlwN0Ruyc5bFfxdXlwihqfLdCiELX7HQTabXoCV7hU/viewform?usp=send_form">
                <i class="fa fa-flag"></i>
            </a>
            <a class="tip">Bug report</a>
        </div>

        <div class="rotater" id="link-drops" title="Drop table" ng-if="exclude != 'drops'">
            <a class="btn btn-icon" target="_blank" href="../drops">
                <i class="fa fa-arrow-down"></i>
            </a>
            <a class="tip">Drop table</a>
        </div>

        <div class="rotater" id="link-characters" title="Character Table" ng-if="exclude != 'characters'">
            <a class="btn btn-icon" target="_blank" href="../characters">
                <i class="fa fa-book"></i>
                <a class="tip">Character table</a>
            </a>
        </div>

        <div class="rotater" id="link-damage" title="Damage Calculator" ng-if="exclude != 'calculator'">
            <a class="btn btn-icon" target="_blank" href="../damage">
                <i class="fa fa-calculator"></i>
            </a>
            <a class="tip">Damage calculator</a>
        </div>

        <div class="rotater" id="link-tally" title="Materials Tally" ng-if="exclude != 'tally'">
            <a class="btn btn-icon" target="_blank" href="../mats">
                <i class="fa fa-list-ul"></i>
            </a>
            <a class="tip">Materials Tally</a>
        </div>

        <div class="rotater" id="link-slots" title="Slot Planner" ng-if="exclude != 'slots'">
            <a class="btn btn-icon" target="_blank" href="../slots">
                <i class="fa fa-dot-circle-o"></i>
            </a>
            <a class="tip">Ability Slot Planner</a>
        </div>

    </div>

</div>
