/********
 * MAIN *
 ********/

html, body, body > [ui-view] {
    height: 100%;
    cursor: default !important;
}

#outer-container, #container {
    width: 100%;
    height: 100%;
}

#outer-container {
    display: table;
}

#container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#content {
    display: inline-block;
    width: 408px;
    height 300px;
}

#summary > #table-container {
    max-height: 0;
    overflow-y: auto;
    font-size: 11px;
    transition: max-height 0.1s linear;
}

#summary > #table-container.expanded {
    max-height: 200px;
}

#summary > h4 {
    width: 100%;
    background: #333;
    color: white;
    text-align: left;
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 0;
    cursor: pointer;
}

.column {
    width: 65px;
    margin: 1px;
    height: 375px;
    top: -100px;
    vertical-align: top;
    position: relative;
    display: inline-block;
}

.column:first-child {
    margin-right: 3px;
    width: 67px;
    border-right: 1px dashed #aaa;
}

.column:first-child > * {
    margin-right: 3px;
}

#columns {
    /*transition: all 0.1s linear;*/
    height: 68px;
}

.slots {
    position: absolute;
    top: 135px;
}

.unit {
    width: 64px;
    height: 64px;
    border: 1px solid black;
    cursor: pointer;
    background-size: 64px 64px;
    background-position: -1px -1px;
}

.unit:hover {
    border-color: red;
}

.unit.empty {
    border-style: dashed !important;
    opacity: 0.5;
}

.slot {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.slot:not(#add):hover {
    outline: 1px solid red;
}

.slot.medium {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    margin: 2px;
}

.slot.small {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    margin: 1px;
}

.unitContainer, .ghostContainer {
    width: 100%;
    position: absolute;
    left: -1px;
}

.ghoster .unitContainer {
    z-index: 201 !important;
}

.ghosted .unitContainer {
    display: none;
}

slot-wheel {
    width: 68px;
    position: relative;
}

slot-wheel > .ghoster {
    z-index: 300;
}

#removeZone {
    position: fixed;
    right: 5px;
    top: 5px;
    border-color: red;
    opacity: 1;
    background-position: 10px 10px;
    font-size: 3em;
    line-height: 1.5em;
    color: salmon;
    text-align: center;
}

#urlContainer {
    margin-top: 10px;
}

#urlContainer {
    position: relative;
    top: 1px;
    height: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: height 0.1s linear;
    -moz-transition: height 0.1s linear;
}

#urlContainer.visible {
    height: 37px;
}

#urlContainer > button {
    width: 10%;
    margin-right: 5px;
    padding: 3px 6px;
}

#urlContainer > input {
    width: 100%;
}

#transient {
    padding: 5px;
    margin: 15px auto 0 auto;
    cursor: pointer;
}

#transient:hover {
    background-color: #FF9E9E;
    border-color: #EC92A0;
}

#transient > span {
    text-decoration: underline;
    cursor: help;
}

#transient-explanation {
    padding: 10px;
}

.limit-break {
    visibility: show;
}

.quick-fill {
    width: 62px;
    height: 21px;
    margin: 2px 0 2px 0;
    outline: 1px solid #777;
    text-align: center;
    cursor: pointer;
    visibility: hidden;
}

.quick-fill.visible {
    visibility: visible;
}

.quick-fill:hover {
    background: #ddd;
}

.label.label-danger {
    display: inline-block;
    white-space: nowrap;
}

#canvasContainer {
    text-align: center;
}

canvas {
    border: 1px solid black;
}

/**********
 * COLORS *
 **********/

.color0 { background: #ff6666; }
.color1 { background: #ff9966; }
.color2 { background: #ffcc33; }
.color3 { background: #ffff99; }
.color4 { background: #ccff99; }
.color5 { background: #99cc66; }
.color6 { background: #99cccc; }
.color7 { background: #0099ff; }
.color8 { background: #cc99ff; }
.color9 { background: #cc55cc; }

/*************
 * ABILITIES *
 *************/

#slotContainer td:nth-child(3) {
    width: 100%;
}

#slotContainer input {
    width: 50px;
}

.ability-button {
    width: 62px;
    height: 43px;
    margin: 2px 0 2px 0;
    position: relative;
    vertical-align: top;
}

.inner-backdrop {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(255,255,255,0.85);
}

.busy .ability-button:not(.active) {
    pointer-events: none;
    z-index: 1;
}

.ability-button.active {
    z-index: 101;
}

.ability-button:not(.active) .abilitySlot {
    display: none;
}

.ability-button .btn, .abilitySlot {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0;
}

.slot-container {
    position: relative;
}

.slot-frame {
    position: absolute;
    left: 10px;
    width: 43px;
    height: 43px;
    background-position: -320px 0px;
    background-size: 363px 43px;
    background-image: url('../res/abilities.png') !important;
}

.ability-button .trigger {
    z-index: 100;
    cursor: pointer;
    position: relative;
    top: 5px;
}

.active:not(#links-button) .trigger {
    background: salmon !important;
    z-index: 102;
}

.abilitySlot {
    position: absolute;
    top: 3px;
    left: 16px;
    z-index: 1;
}

.ability {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset 0 0 1pt 1pt black, 0 0 1pt 1pt white;
    -webkit-box-shadow: inset 0 0 1pt 1pt black, 0 0 1pt 1pt white;
    -moz-box-shadow: inset 0 0 1pt 1pt black, 0 0 1pt 1pt white;
}

.ability:hover {
    box-shadow: inset 0 0 1pt 1pt black, 0 0 1pt 1pt red;
    -webkit-box-shadow: inset 0 0 1pt 1pt black, 0 0 1pt 1pt red;
    -moz-box-shadow: inset 0 0 1pt 1pt black, 0 0 1pt 1pt red;
}

#ability-table td {
    vertical-align: middle;
}

#ability-table td:first-child {
    width: 0%;
}

#ability-table td:last-child {
    width: 100%;
}

#ability-table .next {
    color: rgb(100,100,100);
}

#ability-table .inactive {
    color: red;
    font-weight: bold;
}

.abilityLevel {
    position: absolute;
    bottom: 1px;
    right: 3px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 1px black, -1px 0 1px black, 1px 0 1px black, 0 1px 1px black, 0 -1px 1px black;
    cursor: pointer;
}

/***************
 * POSITIONING *
 ***************/

.abilitySlot:nth-child(1) {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.abilitySlot:nth-child(1) > .ability {
    transform: translateY(-4em);
    -webkit-transform: translateY(-4em);
}

.abilitySlot:nth-child(1) > .ability, tr:nth-child(1) td > .ability {
    background-position: 0 -7px;
    background-size: 363px 43px;
}

.abilitySlot:nth-child(2) {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
}

.abilitySlot:nth-child(2) > .ability {
    -webkit-transform: translateY(-4em) rotate(-36deg);
    transform: translateY(-4em) rotate(-36deg);
}

.abilitySlot:nth-child(2) > .ability, tr:nth-child(2) td > .ability {
    background-position: -32px -7px;
    background-size: 363px 43px;
}

.abilitySlot:nth-child(3) {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
}

.abilitySlot:nth-child(3) > .ability {
    -webkit-transform: translateY(-4em) rotate(-72deg);
    transform: translateY(-4em) rotate(-72deg);
}

.abilitySlot:nth-child(3) > .ability, tr:nth-child(3) td > .ability {
    background-position: -64px -7px;
    background-size: 363px 43px;
}

.abilitySlot:nth-child(4) {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
}

.abilitySlot:nth-child(4) > .ability {
    -webkit-transform: translateY(-4em) rotate(-108deg);
    transform: translateY(-4em) rotate(-108deg);
}

.abilitySlot:nth-child(4) > .ability, tr:nth-child(4) td > .ability {
    background-position: -96px -7px;
    background-size: 363px 43px;
}

.abilitySlot:nth-child(5) {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
}

.abilitySlot:nth-child(5) > .ability {
    -webkit-transform: translateY(-4em) rotate(-144deg);
    transform: translateY(-4em) rotate(-144deg);
}

.abilitySlot:nth-child(5) > .ability, tr:nth-child(5) td > .ability {
    background-position: -128px -7px;
    background-size: 363px 43px;
}

.abilitySlot:nth-child(6) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.abilitySlot:nth-child(6) > .ability {
    -webkit-transform: translateY(-4em) rotate(-180deg);
    transform: translateY(-4em) rotate(-180deg);
}

.abilitySlot:nth-child(6) > .ability, tr:nth-child(6) td > .ability {
    background-position: -160px -7px;
    background-size: 363px 43px;
}

.abilitySlot:nth-child(7) {
    -webkit-transform: rotate(216deg);
    transform: rotate(216deg);
}

.abilitySlot:nth-child(7) > .ability {
    -webkit-transform: translateY(-4em) rotate(-216deg);
    transform: translateY(-4em) rotate(-216deg);
}

.abilitySlot:nth-child(7) > .ability, tr:nth-child(7) td > .ability {
    background-position: -192px -7px;
    background-size: 363px 43px;
}

.abilitySlot:nth-child(8) {
    -webkit-transform: rotate(252deg);
    transform: rotate(252deg);
}

.abilitySlot:nth-child(8) > .ability {
    -webkit-transform: translateY(-4em) rotate(-252deg);
    transform: translateY(-4em) rotate(-252deg);
}

.abilitySlot:nth-child(8) > .ability, tr:nth-child(8) td > .ability {
    background-position: -224px -7px;
    background-size: 363px 43px;
}

.abilitySlot:nth-child(9) {
    -webkit-transform: rotate(288deg);
    transform: rotate(288deg);
}

.abilitySlot:nth-child(9) > .ability {
    -webkit-transform: translateY(-4em) rotate(-288deg);
    transform: translateY(-4em) rotate(-288deg);
}

.abilitySlot:nth-child(9) > .ability, tr:nth-child(9) td > .ability {
    background-position: -256px -7px;
    background-size: 363px 43px;
}

.abilitySlot:nth-child(10) {
    -webkit-transform: rotate(324deg);
    transform: rotate(324deg);
}

.abilitySlot:nth-child(10) > .ability {
    -webkit-transform: translateY(-4em) rotate(-324deg);
    transform: translateY(-4em) rotate(-324deg);
}

.abilitySlot:nth-child(10) > .ability, tr:nth-child(10) td > .ability {
    background-position: -288px -7px;
    background-size: 363px 43px;
}

.ability-button:not(.active) .abilityBackground {
    display: none;
}

/**********
 * POPUPS *
 **********/

.popup {
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    z-index: 300;
    top: 0;
    left: 0;
}

.popup:not(.visible) {
    display: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    z-index: 300;
}

.inner-container {
    position: relative;
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    z-index: 301;
}

.custom-modal {
    position: relative;
    z-index: 301;
    width: 705px;
    margin: auto;
}

.modal-dialog {
    width: 705px;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    background-color: #428bca;
    color: white;
}

.modal-header a {
    color: white;
}

.modal-footer {
    background-color: rgb(235,235,235);
}

.animated {
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
}

.modal-filter {
    width: 100%;
}

.modal-div:not(.slim) {
    height: 340px;
    overflow: auto;
}

.modal-div.tiny {
    height: 42px;
};

.modal-div td {
    padding-left: 5px;
}

.modal-div table {
    width: 100%;
}

.modal-div th {
    padding: 10px 0 10px 0;
}

.modal-div .to-the-right {
    text-align: right;
}

.modal-div.padded {
    padding: 10px;
}

#recent > span {
    border-bottom: 1px solid black;
    display: block;
}

#recentUnits {
    height: 42px;
    margin-top: 5px;
}

#saveSlot .alert-danger {
    margin-bottom: 0;
}

#saveSlot .padded {
    padding-bottom: 0;
}

#loadSlot .modal-div {
    padding-top: 10px;
}

#loadSlot tr:hover {
    background: #ddd;
    cursor: pointer;
}

#loadSlot td > div {
    vertical-align: middle;
}

#loadSlot td:first-child {
    padding-left: 5px;
}

#summary .label {
    font-size: 85%;
}

/***************
 * BACKGROUNDS *
 ***************/

.abilityBackground {
    width: 160px;
    height: 165px;
    -webkit-transform: translate(-48px, -95px);
    transform: translate(-48px, -95px);
    background-image: url('../res/wheel.png');
}

.ability, .slotsBackground {
    background-image: url('../res/abilities.png') !important;
}
