<div ng-repeat="turn in numbers[type].damage">

    <div class="turnContainer" ng-click="modifyDamage($event,$index)">

        <div class="onTurn">#{{$index+1}} ({{numbers[type].hitModifiers[$index]}} / {{ numbers[type].chainMultipliers[$index] | number:1 }}x chain)</div>

        <div class="damageDealer" title="{{turn.unit.unit.name}}" style="word-wrap: break-word;">
            {{ turn.unit.unit.name | truncate:22 }}
        </div>

        <div class="unitDamage">{{ turn.damage | number }}</div>

    </div>

    <hr ng-if="!$last">

</div>
