<nav id="menu" class="panel" role="navigation">

    <ul>

        <li ui-sref=".effects">
            <div id="profileContainer" ng-class="{ profiled: data.effect }">
                <i class="fa fa-book"></i>
                <a>{{data.effect || 'No active map effect'}}</a>
            </div>
        </li>

        <li>
            <div id="ship" status="{{data.ship[1]}}" ship-manager>
                <i class="fa fa-level-up comodity" ui-sref="main.ship"></i>
                <i class="fa fa-ship"></i>
                <span>{{ships[data.ship[0]].name}} (lv. {{data.ship[1]}})</span>
                <div id="ship-background"></div>
            </div>
        </li>
        
        <li>
            <div id="heal">
                <i class="fa fa-heart"></i>
                Heal Socket Level: <input type="number" min="0" max="5" id="healLevel" to-int ng-model="data.healLevel"></input>
            </div>
        </li>

        <li>
            <div id="defenseContainer" title="Middle-click or CTRL-click for details" defense-on-click>
                <i class="fa fa-level-up comodity" ui-sref="main.defense"></i>
                <i class="fa fa-shield"></i>
                Enemy Defense: <input type="number" id="defense" to-int ng-model="data.defense"></input>
            </div>
        </li>

        <li>
            <div id="shieldContainer">
                <i class="fa fa-shield"></i>
                Barrier: <input min="0" style="color: black; width:40px" type="number" id="comboShield" to-int ng-model="data.comboShield">
                                                                      <select style="color: black" id="comboType" ng-model="data.comboType">
                                                                        <option value="" selected>Hits</option>
                                                                        <option value="Good">Good</option>
                                                                        <option value="Great">Great</option>
                                                                        <option value="Perfect">Perfect</option>
                                                                      </select> 
            </div>
        </li>

        <li ui-sref=".candy">
            <div id="candyContainer">
                <i class="fa fa-sliders"></i>
                <a>Cotton Candies</a>
            </div>
        </li>
        
        <li>
            <div id="action">
                <i class="fa fa-check-square"></i>
                Captain Actions: <br><input type="checkbox" name="friend" value="left" ng-model="data.actionleft">Friend/Guest Captain<br><input type="checkbox" name="captain" value="right" ng-model="data.actionright">Captain 
            </div>
        </li>

        <li>
            <div id="sliderToggle" status="{{options.slidersEnabled ? 0 : 1}}"
                ng-click="options.slidersEnabled = !options.slidersEnabled">
                <i class="fa fa-circle-o-notch"></i>
            </div>
        </li>

        <li ng-show="showGatherButton">
            <div id="gather" ui-sref=".gather">
                <i class="fa fa-heartbeat"></i>
                Data Gathering
            </div>
        </li>

        <li>
            <div id="specialDivider">Specials:</div>
        </li>

        <special slot="0"></special>
        <special slot="1"></special>
        <special slot="2"></special>
        <special slot="3"></special>
        <special slot="4"></special>
        <special slot="5"></special>

    </ul>

</nav>
